<!-- <div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed':''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()" >A</button>
        <div class="logo-text" *ngIf="collapsed">E-dowz</div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a href="" class="sidenav-nav-link" [routerLink]="data.routeLink">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
            </a>
        </li>
    </ul>
</div> -->
<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" [opened]="true">
        <mat-nav-list (click)="toggleCollapse()">
            <mat-list-item>
                <mat-icon mat-list-icon class="chevron-button sidenav-button" [ngClass]="{'rotated' : collapsed}"><i
                        class="fa fa-chevron-right" aria-hidden="true"></i></mat-icon>
            </mat-list-item>
        </mat-nav-list>


        <mat-nav-list *ngFor="let data of navData" (click)="toggleCollapse()">
            <mat-list-item [routerLink]="data.routeLink" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <mat-icon mat-list-icon><i [class]="data.icon"></i></mat-icon>
                <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <div class="content">
        <mat-toolbar >
            <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
                <mat-icon *ngIf="!sidenav.opened">
                    menu
                </mat-icon>
                <mat-icon *ngIf="sidenav.opened">
                    close
                </mat-icon>
            </button>
            <div fxFlex fxLayout="row" fxLayoutAlign="flex-start" >
                <a href="" routerLink=""><img class="logo" src="../../../../../../assets/img/logo-dark-background.png"></a>
            </div>
            <!-- <span> <img src="assets/profile.jpg"
                    style="height:50px; width:50px; border-radius:50%;margin-right: 10px;"></span> -->
            <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
                <ul fxLayout="row" fxLayoutGap="row">
                    <li>
                        <button mat-icon-button>
                            <mat-icon>settings</mat-icon>
                        </button>
                    </li>

                    <li>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                            <mat-icon>person_outline</mat-icon>
                            <!-- <mat-icon *ngIf="!avatar">account_circle</mat-icon>
                            <img *ngIf="avatar" [src]="avatar" />                         -->
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>dialpad</mat-icon>
                                <span>Redial</span>
                            </button>
                            <button mat-menu-item disabled>
                                <mat-icon>voicemail</mat-icon>
                                <span>Check voice mail</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>notifications_off</mat-icon>
                                <span>Disable alerts</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon><i class="fa fa-sign-out" aria-hidden="true"></i></mat-icon>
                                <span>Signout</span>
                            </button>
                        </mat-menu>
                    </li>
                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>