
<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" [opened]="true">
        <mat-nav-list (click)="toggleCollapse()">
            <mat-list-item >
                <mat-icon mat-list-icon class="chevron-button sidenav-button" [ngClass]="{'rotated' : collapsed}"><i
                        class="fa fa-chevron-right" aria-hidden="true"></i></mat-icon>
            </mat-list-item>
        </mat-nav-list>

        <mat-nav-list  (click)="toggleCollapse()">
           <mat-list-item class="name">
            <img mat-list-avatar class="image mb-3 mr-3" src="../../../../../../assets/img/doc23.png">
            <span *ngIf="collapsed" class="h6 mt-2"> Admin Name</span>
        </mat-list-item> 
            <span class="h5 hospital-admin px-5" *ngIf="collapsed">Hospital Admin</span>
           
        </mat-nav-list>


        <mat-nav-list *ngFor="let data of navData" (click)="toggleCollapse()">
            <mat-list-item [routerLink]="data.routeLink" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <mat-icon mat-list-icon class="mt-2">{{data.icon}}</mat-icon>
                <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <!-- This is tool-bar -->
    <div class="content">
        <mat-toolbar >
            <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
                <mat-icon *ngIf="!sidenav.opened">
                    menu
                </mat-icon>
                <mat-icon *ngIf="sidenav.opened">
                    close
                </mat-icon>
            </button>
            <div fxFlex fxLayout="row" fxLayoutAlign="flex-start" >
                <a href="" routerLink=""><img class="logo" src="../../../../../../assets/img/logo-dark-background.png"></a>
            </div>
        
            <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
                <ul fxLayout="row" fxLayoutGap="row">
                    <li>
                        <button mat-icon-button>
                            <mat-icon>settings</mat-icon>
                        </button>
                    </li>

                    <!-- if user not login shown default avatar -->
                    <li>
                        <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                     
                            <mat-icon *ngIf="!avatar">account_circle</mat-icon>
                            <img *ngIf="avatar" [src]="avatar" />                        
                        </button> -->
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button">
                            <!-- <mat-icon>person</mat-icon> -->
                            <img class="profileimg" src="../../../../../../assets/img/team1.jpg" alt="Avatar">
                          </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon><i class="fa fa-sign-out" aria-hidden="true"></i></mat-icon>
                                <span>Signout</span>
                            </button>
                        </mat-menu>
                    </li>
                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>