<div id="docsection" class="container" fxLayout="row" fxLayoutAlign ="0 center">

    <div class="doctor" fxLayout="row" fxLayout.lt-sm="column"  >

        <div  class="card1">
          <h2>Discover Your <br>
            <span class="fline">Health</span> </h2>
            <span><h3>Meet with the doctors you like</h3></span>
            <button mat-raised-button routerLink="#" class="findadoc" >Find A Doctor</button>


        </div>

        <mat-divider vertical></mat-divider>

        <div  class="card2">
            <span class="sline"><h2>Are you a Doctor </h2></span>
            <button mat-stroked-button color="primary"  class="iamdoc">Partner with E-dowz mecdicine..</button>
        </div>

    </div>
</div>

