h2{
  font-weight: bold;
  font-size: 2.0rem;
  letter-spacing: 1px;
  line-height: normal;
}
.card1.h2{
  color: #065560;
}
#docsection {
    height: 750px;
    background: url("src/assets/img/doc3.jpg");
    /* background-size: 100%; */
    background-size: 100%;
    background-position: center;
}

.doctor {
    position: absolute;
    background: #FFFFFF;
    border-radius: 12px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    align-content: center;
    margin-left: 100px;

}
.card1{
    position: relative;
    /* top , right , bottom , left */
    margin: 20px 40px 20px 20px;
}

.card2{
    position: relative;
     /* top , right , bottom , left */
    margin: 20px 20px 20px 40px;

}
.patientDoc {
    position: relative;
}

mat-divider{
   height:200px;
   background-color: black;
}
.findadoc{
  color: #FFFFFF;
  background-color: #065560;
  padding: 5px 20px 5px 20px;
  box-shadow: none;
  border-radius: 15px;
}
.iamdoc{
  border-color: #FE8E3C !important;
  border-width: 3px;
  color: #FE8E3C;
  border-radius: 15px;
  padding: 5px 20px 5px 20px;
}
