<mat-card class="example-card1">
</mat-card>
<div class="heading1"> Today’s Appointment requests</div>
<div class="minibar11">
    name
</div>
<div class="minibar12">
    time
</div>
<div class="minibar13">
    method
</div>
<div class="minibar14">
    approval
</div>


<mat-card class="example-card2"></mat-card>
<div class="heading2"> Tomorrows’s Appointment requests</div>
<div class="minibar21">
    name
</div>
<div class="minibar22">
    time
</div>
<div class="minibar23">
    method
</div>
<div class="minibar24">
    approval
</div>