<div class="mainpage">
    <img class="www img-fluid" src="\assets\img\the-medicine-6606111_1920.jpg">

<div class="mainheader">
    <p class="header1">Hi Adam!!</p><p class="header2">Welcome Back</p> 
    
    

</div>

<!-- <div class="mainheaderslogan">
    <h3><small class="text-muted">You have</small></h3> 
    <mat-card class="slogancard1"><p class="text1">4 new</p></mat-card>
           <h3 class="text2"><small class="text-muted">requests from </small>
              <mat-card class="slogancard2">
                9 total
              </mat-card>
          <small class="text-muted">requests.</small> -->
     <div class="headerslogan">
        <h3 style="color: #C5C5C5;">
            You have <mark style="background-color:#CCCCFF;color:#00003f;border-radius: 10%;" >4 new</mark>
            requests from 
            <mark style="background-color:#CCCCFF;color:#00003f;border-radius: 10%;">9 total</mark> requests.
        </h3>
     </div>     

<div class="threecards">
   
    <div class="card1">
        <mat-card class="card1">
            <p style="font-size:xx-large;">20</p>
                <div class="card1text1">
                    <mark style="background-color:#FE8E3C;border-radius: 10%;">
                        +4 
                    </mark>
                   
            </div>
            <div class="card1text2">
                <p class="card1text2">
                    Total Prescriptions this month
                </p>
                
            </div>
        </mat-card>
    </div>
     <div class="card2">
        <mat-card class="card2">
            <p style="font-size:xx-large;">
                  12
                  </p>
                  <div class="card2text1">
                  <mark style="background-color:#FE8E3C;border-radius: 10%;">
                     +6
                    </mark>
                  
                  </div>
              <p class="card2text2">
                Completed Requests
              </p>
        </mat-card>
     </div>
     
     <div class="card3">
        <mat-card class="card3">
            <p style="font-size:xx-large;">
                  03
                  </p>
                  <div class="card3text1">
                  <mark style="background-color:#FE8E3C;border-radius: 10%;">
                     +2
                    </mark>
                  
                  </div>
              <p class="card3text2">
                Pending requests are identified
              </p>
        </mat-card>
     </div>
</div>

<div class="status">
     <h3 class="statustext">
        Prescription Status
     </h3> 
</div>

<div class="statuscards">
    <mat-card class="statuscard1">
           <div class="statcard1text1">Prescription ID-12</div>
           <div class="statcard1text2">Ordered on 10 March 2023</div>
           <div class="statcard1text3">Approved by</div>
           <div class="statcard1text4">Rejected by</div>
           <button type="button" class="btn btn-success card1button1">10+</button>
           <button type="button" class="btn btn-danger card1button2">4-</button>
           
    </mat-card>

    <mat-card class="statuscard2">
        <div class="statcard2text1">Prescription ID-11</div>
        <div class="statcard2text2">Ordered on 02 March 2023</div>
        <div class="statcard2text3">Approved by</div>
        <div class="statcard2text4">Rejected by</div>
        <button type="button" class="btn btn-success card2button1">8+</button>
        <button type="button" class="btn btn-danger card2button2">2-</button>

    </mat-card>

    <mat-card class="statuscard3">
        <div class="statcard3text1">Prescription ID-10</div>
           <div class="statcard3text2">Ordered on 27 February 2023</div>
           <button type="button" class="btn btn-warning card3button">Canceled</button>
           
        
    </mat-card>

    <mat-card class="statuscard4">
        <div class="statcard4text1">Prescription ID-09</div>
           <div class="statcard4text2">Ordered on 15 Feb 2023</div>
           <div class="statcard4text3">Approved by</div>
           <div class="statcard4text4">Rejected by</div>
           <button type="button" class="btn btn-success card4button1">5+</button>
           <button type="button" class="btn btn-danger card4button2">0</button>

        
    </mat-card>
</div>

 <div class="card pdfuploader"> 
    <img class="card-img-top imgcard" src="\assets\img\prescription (2).png" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title pdftitle">New Order?</h4>
      <p class="card-text pdftext">Upload your prescription in here</p>
      <a href="#" class="btn btn-primary pdfbutton">Add PDF</a>
    </div>
  </div>

</div>


 <!-- <div class="card qwe">
    <img src="\assets\img\prescription (2).png" class="card-img-top ttt" alt="Fissure in Sandstone"/>
  <div class="card-body aa">
    <p class="card-title h3">New Prescription?</p>
    <p class="card-text h5"><small class="text-muted">Add your new prescription PDF in here</small></p>
    <a href="#!" class="btn btn-primary">Add PDF</a>
    
</div> 
 </div> -->







<!-- <div class="card qqqq">
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#!" class="btn btn-primary">Button</a>
    </div>
  </div> -->

<!-- </div>  -->

<!-- <div class="card">
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#!" class="btn btn-primary">Button</a>
    </div>
  </div> -->