<app-main-nav></app-main-nav>
<div class="container">
    <mat-card class="example-card">
        <div class="harry">{{name}} </div>

        <div class="cardio">{{speciality}} </div>

        <div class="image">
            <!-- <img src="..\assets\images\doctor.jpg"></div> -->
            <img class="imgradius" mat-card-md-image [src]='img1'>
        </div>
        <div class="hr">
            <hr>
        </div>

    </mat-card>


    <div class="harry2 ">{{name2}}</div>
    <div class="speci ">{{speciality2}}</div>
    <mat-icon class="loc ">support</mat-icon>
    <div class="location ">Location</div>
    <div class="add ">{{address}} </div>

    <div class="Specialities ">Specialities</div>
    <mat-icon class="loc2 ">support</mat-icon>

    <div class="Cardiology ">{{speciality3}}</div>
    <div class="WorkPlaces ">Work Places</div>
    <mat-icon class="loc3 ">support</mat-icon>
    <button mat-button class="ABCHospital1 ">ABC Hospital1</button>
    <button mat-button class="ABCHospital2 ">ABC Hospital2</button>
    <button mat-button class="ABCHospital3 ">ABC Hospital3</button>

    <div class="Qualification ">Qualification</div>
    <mat-icon class="loc4 ">support</mat-icon>

    <div class="slmc ">SLMC Number: 1952</div>
    <div class="Experiance ">Experiance</div>
    <div class="ex ">12 years </div>


    <button mat-button class="manage ">Make an Appoinment</button>
    <div class="are ">Do you want to channel ?</div>
    <mat-icon class="loc5 ">support</mat-icon>
    <div class="number ">Mobile Number</div>
    <mat-icon class="loc6 ">support</mat-icon>
    <div class="nu ">125-8645132</div>


    <mat-icon class="loc7 ">support</mat-icon>
    <div class="email ">E-Mail</div>
    <div class="emad ">adsfdghgjhkng@gmail.com</div>

    <div class="location ">Location</div>


    <mat-icon class="treated ">manage_serach</mat-icon>
    <div class="treatedhowmuch ">0</div>
    <div class="treat ">Patients Treated</div>
    <div class="vl"></div>

    <hr class="hrq1">
    <hr class="hrq2">
    <hr class="hrq3">
    <hr class="hrq4">
    <hr class="hrq5">
    <hr class="hrq6">

</div>