.example-card {
    position: absolute;
    width: 360px;
    height: 479px;
    left: 111px;
    top: 121px;
    background: rgba(232, 234, 255, 0.88);
    box-shadow: 0px 4.07454px 24.4472px -1.01863px rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(20.3727px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
}

.harry {
    position: absolute;
    width: 164px;
    height: 58px;
    left: 110px;
    top: 300px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #13100B;
}

.cardio {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    left: 120px;
    top: 320px;
    color: rgba(64, 64, 64, 0.72);
}

.harry2 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #383993;
    position: absolute;
    width: 300px;
    height: 50px;
    left: 788px;
    top: 100px;
}

.speci {
    position: absolute;
    width: 300px;
    height: 28px;
    left: 768px;
    top: 150px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */
    color: #979797;
}

.addspe {
    position: absolute;
    width: 139px;
    height: 33px;
    left: 1100px;
    top: 331px;
    border-color: #E3E3E7;
    border-radius: 5px;
    border-style: hidden;
    color: #383993;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    background: #E3E3E7;
}

.loc {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 611px;
    top: 216px;
}

.location {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 642px;
    top: 212px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #383993;
}

.add {
    position: absolute;
    width: 293px;
    height: 20px;
    left: 620px;
    top: 246px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #979797;
}

.editadd {
    position: absolute;
    width: 129px;
    height: 31px;
    left: 1100px;
    top: 240px;
    border-color: #E3E3E7;
    border-radius: 5px;
    border-style: hidden;
    color: #383993;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    background: gainsboro;
}

.Specialities {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 640px;
    top: 294px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #383993;
}

.Cardiology {
    position: absolute;
    width: 83.99px;
    height: 15.5px;
    left: 621px;
    top: 331px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: gray;
}

.WorkPlaces {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 640px;
    top: 406px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.ABCHospital1 {
    position: absolute;
    width: 129px;
    height: 31px;
    left: 620px;
    top: 459px;
    background: rgba(215, 215, 252, 0.8);
    border-radius: 5px;
    border-color: rgba(215, 215, 252, 0.8);
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #4648AE;
    border-style: hidden;
}

.ABCHospital2 {
    position: absolute;
    width: 129px;
    height: 31px;
    left: 766px;
    top: 459px;
    background: rgba(215, 215, 252, 0.8);
    border-radius: 5px;
    background: rgba(215, 215, 252, 0.8);
    border-radius: 5px;
    border-color: rgba(215, 215, 252, 0.8);
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #4648AE;
    border-style: hidden;
}

.ABCHospital3 {
    position: absolute;
    width: 129px;
    height: 31px;
    left: 915px;
    top: 458px;
    background: rgba(215, 215, 252, 0.8);
    border-radius: 5px;
    border-color: rgba(215, 215, 252, 0.8);
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #4648AE;
    border-style: hidden;
}

.AddWorkplace {
    position: absolute;
    width: 129px;
    height: 31px;
    left: 1100px;
    top: 458px;
    border-color: #E3E3E7;
    border-radius: 5px;
    border-style: hidden;
    color: #383993;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    background: #E3E3E7;
}

.Qualification {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 640px;
    top: 534px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #383993;
}

.slmc {
    position: absolute;
    width: 293px;
    height: 40px;
    left: 621px;
    top: 572px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #02010D;
}

.Experiance {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 640px;
    top: 620px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #383993;
}

.ex {
    position: absolute;
    width: 193px;
    height: 20px;
    left: 621px;
    top: 658px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #02010D;
}

.AddWorkExperience {
    position: absolute;
    width: 139px;
    height: 33px;
    left: 1100px;
    top: 653px;
    border-color: #E3E3E7;
    border-radius: 5px;
    border-style: hidden;
    color: #383993;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    background: #E3E3E7;
}

.manage {
    position: absolute;
    width: 245px;
    height: 100px;
    left: 156px;
    top: 774px;
    background: #D72B4A;
    border-radius: 13.0291px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.are {
    position: absolute;
    width: 422px;
    height: 106px;
    left: 139px;
    top: 725px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 109%;
    /* or 22px */
    color: #404040;
}

.number {
    position: absolute;
    width: 300px;
    height: 28px;
    left: 692px;
    top: 751px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */
    color: #383993;
}

.nu {
    position: absolute;
    width: 193px;
    height: 20px;
    left: 713px;
    top: 791px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #979797;
}

.editnum {
    position: absolute;
    width: 140px;
    height: 25px;
    left: 697px;
    top: 831px;
    border-color: #E3E3E7;
    border-radius: 5px;
    border-style: hidden;
    color: #383993;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    background: #E3E3E7;
}

.email {
    position: absolute;
    width: 100px;
    height: 28px;
    left: 975px;
    top: 751px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */
    color: #383993;
}

.emad {
    position: absolute;
    width: 103px;
    height: 20px;
    left: 929px;
    top: 791px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #979797;
}

.editemail {
    position: absolute;
    width: 140px;
    height: 25px;
    left: 947px;
    top: 831px;
    border-color: #E3E3E7;
    border-radius: 5px;
    border-style: hidden;
    color: #383993;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    background: #E3E3E7;
}

.ratings {
    position: absolute;
    width: 96px;
    height: 29px;
    left: 257px;
    top: 444px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    /* identical to box height, or 115% */
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.72);
}

.star1 {
    position: absolute;
    width: 96px;
    height: 29px;
    left: 240px;
    top: 480px;
    color: rgba(57, 56, 147, 0.42);
}

.star2 {
    position: absolute;
    width: 96px;
    height: 29px;
    left: 260px;
    top: 480px;
    color: rgba(57, 56, 147, 0.42);
}

.star3 {
    position: absolute;
    width: 96px;
    height: 29px;
    left: 280px;
    top: 480px;
    color: rgba(57, 56, 147, 0.42);
}

.star4 {
    position: absolute;
    width: 96px;
    height: 29px;
    left: 300px;
    top: 480px;
    color: rgba(57, 56, 147, 0.42);
}

.star5 {
    position: absolute;
    width: 96px;
    height: 29px;
    left: 320px;
    top: 480px;
    color: rgba(57, 56, 147, 0.42);
}

.review {
    position: absolute;
    width: 31.03px;
    height: 41.37px;
    left: 187px;
    top: 450px;
    color: #393893;
    ;
}

.zero {
    position: absolute;
    width: 25px;
    height: 23px;
    left: 358px;
    top: 469px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15.2727px;
    line-height: 23px;
    /* identical to box height */
    text-align: center;
    color: #404040;
}

.treated {
    position: absolute;
    width: 38.79px;
    height: 38.79px;
    left: 276px;
    top: 522px;
    color: #393893;
}

.treatedhowmuch {
    position: absolute;
    width: 17px;
    height: 29px;
    left: 299px;
    top: 518px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    /* identical to box height, or 115% */
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.78);
}

.treat {
    position: absolute;
    width: 112px;
    height: 29px;
    left: 260px;
    top: 542px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14.0372px;
    line-height: 29px;
    /* identical to box height, or 204% */
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #676767;
}

.image {
    position: relative;
    border-radius: 50px;
    left: 123px;
}

.hr {
    position: relative;
    top: 100px;
}

.container {
    position: absolute;
    top: 10px;
    left: 120px;
}

.imgradius {
    position: relative;
    border-radius: 60%;
    height: 240px;
    width: 220px;
    left: -60px;
}

 :host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 260px;
    background: #065560;
}

mat-drawer-container {
    height: 100%;
}

.loc2 {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 611px;
    top: 299px;
}

.vl {
    border-left: 6px solid #00be99;
    height: 800px;
    position: absolute;
    left: 535px;
    margin-left: -3px;
    top: 130px;
}

.loc3 {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 611px;
    top: 410px;
}

.loc4 {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 611px;
    top: 540px;
}

.loc5 {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 611px;
    top: 625px;
}

.loc6 {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 661px;
    top: 755px;
}

.loc7 {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 950px;
    top: 750px;
}

.hrq1 {
    width: 650px;
    color: #00be99;
    position: absolute;
    top: 180px;
    left: 600px;
    border-top-width: 2px;
}

.hrq2 {
    width: 650px;
    height: 125px;
    color: #00be99;
    position: absolute;
    top: 260px;
    left: 600px;
    line-height: 30px;
    border-top-width: 2px;
}

.hrq3 {
    width: 650px;
    height: 125px;
    color: #00be99;
    position: absolute;
    top: 350px;
    left: 600px;
    line-height: 30px;
    border-top-width: 2px;
}

.hrq4 {
    width: 650px;
    height: 125px;
    color: #00be99;
    position: absolute;
    top: 490px;
    left: 600px;
    line-height: 30px;
    border-top-width: 2px;
}

.hrq5 {
    width: 650px;
    height: 125px;
    color: #00be99;
    position: absolute;
    top: 580px;
    left: 600px;
    line-height: 30px;
    border-top-width: 2px;
}

.hrq6 {
    width: 650px;
    height: 125px;
    color: #00be99;
    position: absolute;
    top: 670px;
    left: 600px;
    line-height: 30px;
    border-top-width: 2px;
}

.hrq7 {
    width: 650px;
    height: 125px;
    color: #00be99;
    position: absolute;
    top: 550px;
    left: 600px;
    line-height: 30px;
    border-top-width: 2px;
}

.hrq8 {
    width: 650px;
    height: 125px;
    color: #00be99;
    position: absolute;
    top: 150px;
    left: 600px;
    line-height: 30px;
    border-top-width: 2px;
}