<app-main-nav></app-main-nav>
<div class="container">
    <img class="img1" src="\assets\img\docprofback.jpg">
    <mat-card class="example-card">

        <div class="image">
            <!-- <img src="..\assets\images\doctor.jpg"></div> -->
            <img class="imgradius" mat-card-md-image [src]='doctor.empImage'>
        </div>
        <div class="harry">{{doctor.name}} </div>

        <div class="cardio">{{doctor.spciality}} </div>

        <div class="hr">
            <hr>
        </div>

    </mat-card>

    <table class="retrieved-table">
        <thead>
            <tr>
                <th>Day</th>
                <th>Availability</th>
                <th>Time Interval</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let day of retrievedData">
                <td>{{ day.name }}</td>
                <td>{{ day.available ? 'Available' : 'Not Available' }}</td>
                <td>{{ day.timeInterval }}</td>
            </tr>
        </tbody>
    </table>
    <div class="namespeci">
        <div class=" harry2 ">{{doctor.name}}</div>
        <div class="speci ">{{doctor.spciality}}</div>
    </div>
    <mat-icon class="loc "></mat-icon>
    <div class="location ">Location</div>
    <div class="add ">{{doctor.city}} </div>

    <div class="Specialities ">Specialities</div>
    <mat-icon class="loc2 ">support</mat-icon>

    <div class="Cardiology ">{{doctor.spciality}}</div>
    <div class="WorkPlaces ">Work Places</div>
    <!-- <div class="worksat "><button mat-button [routerLink]="['/hospitalprofileforpatient', doctor.id]">{{doctor.hospital}}</button> </div> -->
    <mat-icon class="loc3 ">support</mat-icon>
    <!-- <button mat-button class="ABCHospital1 ">ABC Hospital1</button>
        <button mat-button class="ABCHospital2 ">ABC Hospital2</button>
        <button mat-button class="ABCHospital3 ">ABC Hospital3</button> -->
    <div class="ABCHospital1">
        <button mat-button class="hospitals " *ngFor="let doc of doctor.hospitals " [routerLink]="['/hospitalprofileforpatient', doc.id]">{{doc.name}}</button>
    </div>
    <div class="Qualification ">Qualification</div>
    <mat-icon class="loc4 ">support</mat-icon>

    <div class="slmc ">SLMC Number: 1952</div>
    <div class="Experiance ">Experiance</div>
    <!-- <div class="ex ">{{doctor.hospital}} </div> -->
    <div class="ex ">
        <!-- <div class="hospitals " *ngFor="let doc of doctor.hospitals ">{{doc.name}}</div> -->
    </div>


    <!-- <button mat-button class="manage " [routerLink]="[ '/makeanappoinment2', doctor.id] " queryParamsHandling="merge">Make an Appoinment</button> -->
    <button mat-button class="manage" [routerLink]="['/makeanappoinment2', doctor.id]" [queryParams]="{ doctorName: doctor.name, doctorSpeciality: doctor.spciality }" queryParamsHandling="merge">Make an Appointment</button>

    <div class="are ">Do you want to channel ?</div>
    <mat-icon class="loc5 ">support</mat-icon>
    <div class="number ">Mobile Number</div>
    <mat-icon class="loc6 ">support</mat-icon>
    <div class="nu ">{{doctor.city}}</div>


    <mat-icon class="loc7 ">support</mat-icon>
    <div class="email ">E-Mail</div>
    <div class="emad ">{{doctor.city}}</div>

    <div class="location ">Location</div>


    <mat-icon class="treated ">manage_serach</mat-icon>
    <div class="treatedhowmuch ">0</div>
    <div class="treat ">Patients Treated</div>
    <div class="vl "></div>

    <hr class="hrq1 ">
    <hr class="hrq2 ">
    <hr class="hrq3 ">
    <hr class="hrq4 ">
    <hr class="hrq5 ">
    <hr class="hrq6 ">

</div>