<app-mininavbar (toggleLeftToolBarForMe)="leftToolBarToggler()">
</app-mininavbar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-pharmacy-left-toolbar></app-pharmacy-left-toolbar>
  </mat-drawer>
  <mat-drawer-content class="main">


    <!-- Pharmacy dashboard toolbar properties -->

    <div >
      <mat-card class="cardheader">
        <mat-card-content >
          <div class="pharmacyname">
            <div class="name1">
              Apothecare
            </div>
            <div class="name2">
              Pharmacy
            </div>
          </div>
          <img class="image" src="\assets\img\34bc20ba-3ade-d40e-9316-0d9e71cef5b2.png">
          <div fxFlex fxlayout="row" fxLayoutAlign="flex-end">
            <button class="editbutton" routerLink="/editprofile">Edit Profile</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>







    <!-- Four cards and their properties -->

    <div class="container-lg">
      <div class="row justify-content-center row1">
        <div class="col-sm-4 col-lg-6  mx-5 shadow card1">

          <h3 class="new" ><span style="color: red">{{newOrders}}</span> New</h3>

          <p class="crd1txt2">Have a look at your new orders</p>

          <a href="#" routerLink="/new">
            <div class="go-corner" >

              <div class="go-arrow" >
                →
              </div>
            </div>
          </a>
        </div>




        <div class="col-sm-4 col-lg-6  mx-5 shadow card2">
          <h3 class="approved"><span style="color: red">{{approved}}</span> Approved</h3>
          <p class="crd2txt2">Here you have your approved orders</p>
          <a href="#" routerLink="/approved">
            <div class="go-corner" >
              <div class="go-arrow" >
                →
              </div>
            </div>
          </a>
        </div>
      </div>



      <div class="row justify-content-center row2">
        <div class="col-sm-4 col-lg-6  mx-5 shadow card3">

          <h3 class="rejected"><span style="color: red">{{rejected}}</span> Rejected</h3>
          <p class="crd3txt2">Your rejected orders are here</p>
          <a href="#" routerLink="/rejected">
            <div class="go-corner" >

              <div class="go-arrow">
                →

              </div>
            </div>
          </a>
        </div>



        <div class="col-sm-4 col-lg-6  mx-5 shadow card4">
          <h3 class="canceled"> <span style="color: red">{{done}}</span> Done</h3>
          <p class="crd4txt2">Completed Orders</p>
          <a href="#" routerLink="/done">
            <div class="go-corner"  >
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>










