
<div class="container-fluid">
  <div class="row ">
    <div class="col-lg-6 p-4 text-center right-part">
      <h4 class="text-center fw-bolder fs-2">Register</h4>
      <p class="mb-4 fs-7">Register Now and Fell the New Digital World</p>
      <div class="mb-4 hero-btns">
        <a href="#" routerLink="/userselect">Sign Up</a>
      </div>
      <div class="img-cover p-4 blob col-md-10 col-lg-6 col-xl-7 d-flex order-1 order-lg-1"></div>
    </div>
    <div class="col-lg-6 p ">
      <div class="row d-flex mb-5 justify-content-center">
        <div class="col-md-8 p-4 ikigui m-auto text-center align-items-center">
          <div class="center mb-2 fs-2">
            <a href="" routerLink="/home">
              <img class="logo mt-5 mb-3" src="../../../assets/img/logo-light-background.png">
            </a>
          </div>
          <h4 class="text-center fw-bolder mb-4 fs-2 login"><br>Login</h4>


          <div class="container mt-5">
            <div class="card" style="padding: 20px;">
              <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                <input type="text"
                       ngModel
                       name="userName"
                       id="userName"
                       placeholder="Enter your username"
                       class="form-control mb-3">

                <input type="password"
                       ngModel
                       name="userPassword"
                       id="userPassword"
                       placeholder="Enter your password"
                       class="form-control mb-3">

                <input type="submit"
                       value="Login"
                       class="btn btn-outline-primary form-control rounded-0">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
