.card1{
    width: 100%;
    height:100px;
    background-color:#065560;
    
}

/* .cardheader{
    height: 70px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 1;
    background-color:azure;
  } */
  
  .image{
      height: 60px;
     position: relative;
      border-radius:50%;
      top:-35px;
      
  }
  
  .name1{
      font-family: 'Times New Roman', Times, serif;
      font-weight: 600;
      font-size: xx-large;
      color: #FE8E3C;
      position: relative;
      left: 115px;
      top: 10px;
  } 

  .name2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: xx-large;
    color:grey;
    position: relative;
    left: 115px;
    top: 22px;
} 

.editbutton{
    
    top: -90px;
    position:relative;
    border-radius:20px;
    left: 1300px;
    border: none;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color:#FE8E3C;
  }
  
  .editbutton {
    background-color:#75E6DA; 
    color:black; 
    border: 2px solid#75E6DA;
  }
  
  .editbutton:hover {
    background-color: white;
    color:#21B6A8;
  }


.header1{
    position: relative;
    left: 240px;
    top: 50px;
}
.header2{
    position: relative;
    left:565px;
    top: 7px;
    
}



.table{
    position: relative;
    left: 10px;
    top: 5%;
    width: 70%;
    height: 60%;
    border:5px;
    border-color: black;
    margin: auto;
    /* background-color:#708090; */
    
}

.head2{
    
    
}

.thead{
    height: 20%;
   
}

.thead1{
     left:120px;
     position: relative;
}

.thead2{
    
}

.thead3{
    position: relative;
    left: 100px;
}

.thead4{
    
}

.thead5{
    
}

.thead1,.thead2,.thead3,.thead4,.thead5{
    font-size: large;
}


/* 
.button1{
    position: relative;
    left: 40px;
}


.button2{
    position:relative;
    left: 50px;
    width:90px;
    
} */

.id1,.id2,.id3{
    color:#00FFFF;
  
}