<div class="nav">

  <mat-nav-list class="navori">
    <div class="edowz">
      <a href="">
        <img src="../../../../assets/img/logo-dark-background.png" class="logo" alt="logo"></a>
    </div>

    <br>
    <br>
    <br>

    <div class="xxxx" routerLinkActive="active">
      <a mat-list-item routerLink="/admin" routerLinkActive="active" class="b">
        <mat-icon>home</mat-icon>&nbsp;&nbsp;&nbsp;Dashboard</a>
    </div>

    <div class="xxxx" routerLinkActive="active">
      <a mat-list-item routerLinkActive="active" routerLink="/admindoctor" class="b">
        <mat-icon>done</mat-icon>&nbsp;&nbsp;&nbsp;Doctor
      </a>
    </div>

    <div class="xxxx" routerLinkActive="active">
      <a mat-list-item routerLink="/adminpatient" class="b">
        <mat-icon>checklist</mat-icon>&nbsp;&nbsp;&nbsp;Patient</a>
    </div>

    <div class="xxxx" routerLinkActive="active">
      <a mat-list-item routerLink="/adminhospital" class="b">
        <mat-icon>work </mat-icon>&nbsp;&nbsp;&nbsp;Hospital</a>
    </div>

    <div class="xxxx"  routerLinkActive="active">
      <a mat-list-item routerLink="/adminpharmacy" class="b">
        <mat-icon>person</mat-icon>&nbsp;&nbsp;&nbsp;Pharmacy</a>
    </div>

    <div class="xxxx" routerLinkActive="active">
      <a mat-list-item routerLink="/admindetails" class="b">
        <mat-icon>person</mat-icon>&nbsp;&nbsp;&nbsp;My Profile</a>
    </div>

    <div class="xxxx" routerLinkActive="active">
      <a mat-list-item routerLink="/home" class="b">
        <mat-icon>lock</mat-icon>&nbsp;&nbsp;&nbsp;Log out</a>
    </div>

  </mat-nav-list>

</div>
