<div class="container-fluid vh-100 " fxLayout="row">
    <div class="left-part">
    </div>
    <div class="right-part overflow-auto">
        <div class="topbar">
            <a href="" routerLink="/home"><img class="logo" src="../../../assets/img/logo-dark-background.png"></a>
            <a href="" routerLink="/login" class="link">back</a>
        </div>
        <div class="useritems" fxLayout="column" fxLayoutAlign="center center">
            <div class="p-5 text">
                <span>Please select Who you are?</span>
            </div>

            <div class="userRowFirst" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="50px">
                <div class="users">
                    <!--  (click)="openLoginForm()" -->
                    <button mat-raised-button class="userbutton" routerLink="/patientsignup"><img class="userimage" style="padding-left: 5px; padding-right: 5px;"
                            src="../../../assets/img/user-patient.png" alt="patient">
                        <p>I'm patient</p>
                    </button>
                </div>
                <div class="users">
                    <button mat-raised-button class="userbutton"> <img class="userimage"
                            src="../../../assets/img/user-doctor.png" alt="">
                        <p>I'm doctor</p>
                    </button>
                </div>
               
            </div>

            <div class="userRowSecond" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="50px">
                <div class="users">
                    <button mat-raised-button class="userbutton"> <img class="userimage" 
                            src="../../../assets/img/user-ambulance.png" alt="">
                        <p>I'm ambulance owner</p>
                    </button>
                </div>
                <div class="users">
                    <button mat-raised-button class="userbutton"> <img class="userimage"
                            src="../../../assets/img/user-hospital.png" alt="">
                        <p>I'm hospital owner</p>
                    </button>
                </div>
                <div class="users">
                    <button mat-raised-button class="userbutton"> <img class="userimage" 
                            src="../../../assets/img/user-pharmacy.png" alt="">
                        <p>I'm pharmacy owner</p>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>





<app-middle></app-middle>
<app-footer></app-footer>