<app-main-nav></app-main-nav>

<div class="container-fluid vh-100 overflow-auto" fxLayout="column" fxLayoutAlign="center center" >
    <div class="p-5 text">
        <span>Please select a user type</span>
    </div>

    <div class=""  fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="50px">
        <div class="users">
            <!--  (click)="openLoginForm()" -->
            <button mat-raised-button class="userbutton"><img class="userimage" src="../../../assets/img/user-patient.png" alt="patient">
        <p>I am patient</p></button>
        </div>
        <div class="users">
            <button mat-raised-button class="userbutton"> <img class="userimage" src="../../../assets/img/user-doctor.png" alt="">
        <p>I am doctor</p></button>
        </div>
        <div class="users">
            <button mat-raised-button class="userbutton"> <img class="userimage" src="../../../assets/img/user-ambulance.png" alt="">
        <p>I am doctor</p></button>
        </div>
        <div class="users">
            <button mat-raised-button class="userbutton"> <img class="userimage" src="../../../assets/img/user-hospital.png" alt="">
        <p>I am doctor</p></button>
        </div>
        <div class="users">
            <button mat-raised-button class="userbutton"> <img class="userimage" src="../../../assets/img/user-pharmacy.png" alt="">
        <p>I am doctor</p></button>
        </div>

    </div>
</div>
    
       



<app-middle></app-middle>
<app-footer></app-footer>