.container-fluid{
  margin: 0px;
  padding: 0px;
}
.left-part{
  flex: 0 0 30%;
  background-image: url(../../../assets/img/userselect2.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.right-part{
  flex: 0 0 70%;
  padding: 2rem;
  background-color: #065560;
  
}
.userselect{
  position: absolute;
  right: 0px;
  bottom: 0px;
}
#container1{
  left: 0  !important;
  right: auto;
}
.text{
  font-size: 1.4rem;
  font-weight:bold;
  letter-spacing: 2px;
  color: #e1eeea;
  text-transform: uppercase;
}
.userbutton{
  background-color:#e1eeea;
}
.userimage{
  height: 140px;
  width: auto;
}
