.container-fluid{
  margin: 0px;
  padding: 0px;
}
.left-part{
  flex: 0 0 30%;
  background-image: url(../../../assets/img/userselect2.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.right-part{
  flex: 0 0 70%;
  padding: 1.5rem;
  background-color: #065560;
  
}
.topbar{
  top: 0;
}
.logo{
  height: 61px;
  width: auto;
}
.link{
  text-decoration: none;
  text-transform: capitalize;
  color: #e1eeea;
  font-size: 1.1rem;
  padding-left: 780px;
}
.userRowSecond{
  padding-top: 25px;
}
.userselect{
  position: absolute;
  right: 0px;
  bottom: 0px;
}
#container1{
  left: 0  !important;
  right: auto;
}
.text{
  font-size: 2.4rem;
  font-weight:bold;
  letter-spacing: 2px;
  color: white;
  text-transform: capitalize;
}
.userbutton{
  background-color:white;
  padding-top: 10px;
}
.userimage{
  height: 130px;
  width: auto;
}
.userbutton p{
  color: #065560;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding-top: 10px;

}
.userbutton:hover{
  background-color: #c5ede1;
}
