<mat-toolbar>
     Send Invitation request
    <div class="spacer" align="end">
      <button mat-button mat-dialog-close class=".spacer">&times;</button>
    </div>
</mat-toolbar>
<p class="my-3 text-center">
  <mat-form-field appearance="outline" style="width:430px; height:10px">
    <input matInput placeholder="Type Emails of the doctors">
    <mat-hint>
      You can add multiple email address to send emails in bulk to invite. Type email address and hit enter
    </mat-hint>
  </mat-form-field>
</p>

<p class="mt-5 text-center">
<mat-form-field style="width:430px; height:10px">
  <mat-label>Type a Message</mat-label>
  <textarea matInput style="height: 150px;"></textarea>
</mat-form-field>
</p>

<div class="spacer mt-3">
  <button mat-stroked-button class="py-1 px-5" class="sendClass" >Send</button>
</div>
  
