<app-mininavbar (toggleLeftToolBarForMe)="leftToolBarToggler()">
</app-mininavbar>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-left-tool-bar></app-left-tool-bar>
    </mat-drawer>
    <mat-drawer-content>

        <div class="container1">
            <div class="carddiv">
                <mat-card class="card">
                    <div class="changebig">Change Password</div>
                    <div class="content">
                        <div class="enterpassword">
                            <div class="enterpasswordheading">
                                Enter New Password
                            </div>
                            <mat-form-field class="field" appearance="outline">
                                <mat-label>Enter Password</mat-label>
                                <input matInput placeholder="Enter Password">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

                            </mat-form-field>
                        </div>

                        <div class="confirmpassword">
                            <div class="confirmpasswordheading">
                                Confirm Password
                            </div>
                            <mat-form-field class="field" appearance="outline">
                                <mat-label>Enter Password</mat-label>
                                <input matInput placeholder="Enter Password">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

                            </mat-form-field>
                        </div>
                        <button mat-button class="button1">Update Password</button> </div>
                </mat-card>
            </div>


            <div class="pidiv"><img src="assets\img\design.png"> </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>