<app-patient-navbar (toggleLeftToolBarForMe)="leftToolBarToggler()">
</app-patient-navbar>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-patient-left-toolbar></app-patient-left-toolbar>
    </mat-drawer>
    <mat-drawer-content>
        <div class="availabilitypic">
            <h2 style="text-align: center;">Upcoming Appoinments

            </h2>
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th>Doctor Name</th>
                        <th>Hospital</th>
                        <th>Speciality</th>
                        <th>Date</th>
                        <th>Time</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let appoinment of appoinments; let i = index">
                        <td>



                            <div class="d-flex align-items-center">
                                <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-normal mb-1">{{appoinment.doctorName}}</p>
                                    <!-- <p class="fw-bold mb-1">{{appoinment.searchText}}</p> -->
                                    <!-- <p class="text-muted mb-0">{{appoinment.hospital}}</p> -->
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">{{appoinment.searchText}}</p>

                        </td>
                        <td>
                            <p class="fw-normal mb-1">{{appoinment.doctorSpeciality}}</p>

                        </td>
                        <td>
                            <p class="fw-normal mb-1">{{appoinment.bookingDate}}</p>

                        </td>
                        <td>
                            <p class="fw-normal mb-1">{{appoinment.bookingTime}}</p>
                        </td>
                        <td>
                            <span class="badge badge-{{appoinment.status === 'Active' ? 'success' : appoinment.status === 'Onboarding' ? 'primary' : 'warning'}} rounded-pill d-inline">{{appoinment.status}}</span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="deleteAppoinment(i)">Delete</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <br><br><br>
            <h2 style="text-align: center;">Deleted Appointments</h2>
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th>Doctor Name</th>
                        <th>Hospital</th>
                        <th>Speciality</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let myappoinment of myappoinments">
                        <!-- Populate the table with the deleted appointment data -->
                        <td>{{ myappoinment.doctorName }}</td>

                        <td>{{ myappoinment.searchText }}</td>
                        <td>{{ myappoinment.doctorSpeciality }}</td>
                        <td>{{ myappoinment.bookingDate }}</td>
                        <td>{{ myappoinment.bookingTime }}</td>
                    </tr>
                </tbody>
            </table>

        </div>







    </mat-drawer-content>
</mat-drawer-container>