<div id="mainsection" class="container" fxLayout="row" fxLayoutAlign ="0 center">

  <div class="pagecards" fxLayout="row" fxLayout.lt-sm="column"  >
    <div  class="card1">
      <h2> <span class="fline">Discover</span>
        <br>Your Health
      </h2>
      <span><h3>Purchase the medicine type you want</h3></span>
      <span fxLayoutAlign="center center">
            <button class="btn"
                    mat-raised-button routerLink="#"
                    id="findbtn" >Find A Pharmacy</button>
          </span>
    </div>

    <mat-divider vertical></mat-divider>

    <div  class="card2">
          <span>
            <h2>Are you a <br><span class="sline">Pharmacy Owner? </span></h2>
          </span>
      <span>
            <h3>Register with E-dows Medicine and <br>give your service</h3>
          </span>
      <span fxLayoutAlign="center center">
            <button class="btn"
                    mat-stroked-button
                    id="servicebtn"
                    routerLink="/doctorsignup">Partner with <br>E-dowz Medicine</button>
          </span>
    </div>

  </div>
</div>


