<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed':''">
    <div class="logo-container">
        <button ><img class="logo" src="../../../../../../assets/img/logo-dark-back-2.png" alt=""></button>
        <div  *ngIf="collapsed"><img class="logo-img" src="../../../../../../assets/img/logo-dark-background.png" alt=""></div>
        <button class="btn-close" *ngIf="collapsed">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a href="" class="sidenav-nav-link" [routerLink]="[data.routeLink]">
                <i class="sidenav-nav-icon" [class]="data.icon"></i>
                <span class="sidenav-nav-text" *ngIf="collapsed">{{data.label}}</span>
            </a>
        </li>
    </ul>
</div>
