<div class="nav">



    <mat-nav-list class="navori">
        <div class="edowz">

            <a href="">
                <img src="../../../assets/img/logo-dark-background.png" class="logo" alt="logo"></a>

            <!-- <a href="" class="e">E</a>
            <a href="" class="b">-dowz</a> -->
        </div>

        <br>
        <br>
        <br>


        <div class="xxxx" routerLinkActive="active">
            <a mat-list-item routerLink="/dashboard" class="b">
                <mat-icon>home</mat-icon>&nbsp;&nbsp;&nbsp;Dashboard</a>
        </div>
        <div class="xxxx" routerLinkActive="active">
            <a mat-list-item routerLinkActive="active" routerLink="/appoinment" class="b">
                <mat-icon>done</mat-icon>&nbsp;&nbsp;&nbsp;Appointment request
            </a>
        </div>
        <div class="xxxx" routerLinkActive="active">
            <a mat-list-item routerLink="/availability" class="b">
                <mat-icon>checklist</mat-icon>&nbsp;&nbsp;&nbsp;Availability & Schedulling</a>
        </div>
        <div class="xxxx" routerLinkActive="active">
            <a mat-list-item routerLink="/history" class="b">
                <mat-icon>work </mat-icon>&nbsp;&nbsp;&nbsp;History and Review</a>
        </div>
        <div class="xxxx" routerLinkActive="active">
            <a mat-list-item routerLink="/password" class="b">
                <mat-icon>person</mat-icon>&nbsp;&nbsp;&nbsp;Change Password</a>
        </div>
        <div class="xxxx" routerLinkActive="active">
            <a mat-list-item routerLink="/logout" class="b">

                <mat-icon>lock</mat-icon>&nbsp;&nbsp;&nbsp;Log out</a>
        </div>

    </mat-nav-list>

</div>