<div class="col-10 col-lg-8 col-xl-8" fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <div>
        <h2 class="my-text3 pt-4 mx-4 h-1">Manage team</h2>
        <div align="end" class="mb-3 ">
            <button mat-button class="mx-2" (click)="openInviteDoctors()" >Invite Doctors</button>
            <!-- <button mat-button class="mx-2" >Add New Doctors</button> -->
        </div>
    </div>
    
</div>
<div class="container-fluid">
    <div class="column">
        <!-- align-items-center justify-content-center -->
        <div  class="col-10 col-lg-8 col-xl-8 my-sm-3 mb-3 mx-4">
            <mat-card class="card">
                <mat-card-header>
                    <img mat-card-avatar class="image" src="../../../../../../assets/img/doc23.png">
                  <mat-card-title>Doctor name</mat-card-title>
                  <mat-card-subtitle>End</mat-card-subtitle>
                  <mat-card-actions class="actions" align="end">
                    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" align="end">
                        <button mat-stroked-button class="reject-button" >Reject User</button>
                    </div>
                    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
                        <button mat-stroked-button class="action-button">View Details</button>
                    </div>
                  </mat-card-actions>
                </mat-card-header>
            </mat-card>
        </div>
        <div  class="col-10 col-lg-8 col-xl-8 my-sm-3 mb-5 mx-4">
            <mat-card class="card">
                <mat-card-header>
                    <div mat-card-avatar class="image"></div>
                  <mat-card-title>Doctor name</mat-card-title>
                  <mat-card-subtitle>End</mat-card-subtitle>
                  <mat-card-actions class="actions" align="end">
                    <button mat-stroked-button class="reject-button">Reject User</button>
                    <button mat-stroked-button class="action-button">View Details</button>
                  </mat-card-actions>
                </mat-card-header>
            </mat-card>
        </div>    
    </div>
  
</div>

