<div class="col-10 col-lg-8 col-xl-8" fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <div>
        <h2 class="my-text3 pt-4 mx-4 h-1">Manage team</h2>
        <div align="end" class="mb-3">
            <button mat-button >Invite Doctors</button>
        </div>
    </div>
    
</div>
<div class="container-fluid">
    <div class="column ">
        <!-- align-items-center justify-content-center -->
        <div  class="col-10 col-lg-8 col-xl-8 my-sm-3 mb-3 mx-4">
            <mat-card>
                <mat-card-header>
                    <img mat-card-avatar class="image" src="../../../../../../assets/img/doc23.png">
                  <mat-card-title>Doctor name</mat-card-title>
                  <mat-card-subtitle>End</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions align="end">
                  <button mat-button>Reject User</button>
                  <button mat-button>View Details</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div  class="col-10 col-lg-8 col-xl-8 my-sm-3 mb-3 mx-4">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="image"></div>
                  <mat-card-title>Doctor name</mat-card-title>
                  <mat-card-subtitle>End</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions align="end">
                  <button mat-button>Reject User</button>
                  <button mat-button>View Details</button>
                </mat-card-actions>
            </mat-card>
        </div>
   
         
    </div>
</div>


