
.mat-button{
    background-color: #00BE99;
    color: azure;
}
.action-button{
    color: rgb(77, 165, 242);
}
.reject-button{
    color: #fe8e3c;
    border: none;
}
.actions{
    margin-left: 24rem;
}
.card{
    padding-bottom: 3px;
}