<div class="nav">



  <mat-nav-list class="navori">
    <div class="edowz">

      <a href="">
        <img src="../../../assets/img/logo-dark-background.png" class="logo" alt="logo"></a>

    </div>

    <br>
    <br>
    <br>


    <div class="xxxx" routerLinkActive="active">

    </div>
    <div class="xxxx" routerLinkActive="active">
      <a mat-list-item routerLinkActive="active" routerLink="/new" class="b">
        <mat-icon>done</mat-icon>&nbsp;&nbsp;&nbsp;New Orders
      </a>
    </div>
    <div class="xxxx" routerLinkActive="active">
      <a mat-list-item routerLink="/approved" class="b">
        <mat-icon>checklist</mat-icon>&nbsp;&nbsp;&nbsp;Approved Orders</a>
    </div>
    <div class="xxxx" routerLinkActive="active">
      <a mat-list-item routerLink="/rejected" class="b">
        <mat-icon>work </mat-icon>&nbsp;&nbsp;&nbsp;Rejected Orders</a>
    </div>
    <div class="xxxx" routerLinkActive="active">
      <a mat-list-item routerLink="/done" class="b">
        <mat-icon>person</mat-icon>&nbsp;&nbsp;&nbsp;User Completed Orders</a>
    </div>
    <div class="xxxx" routerLinkActive="active">

    </div>

  </mat-nav-list>

</div>
