.b {
  color: white;
}

.e {
  color: red;
}



.logo {
  height: 61px;
  width: auto;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.nav {
  position: absolute;
}



.active {
  background-color: chocolate;
  color: #fff;
}
