            .hospital {
                position: absolute;
                height: 64px;
                left: 124px;
                right: 200px;
                top: 171px;
            }
            
            .patient {
                position: absolute;
                height: 64px;
                left: 800px;
                right: 180px;
                top: 171px;
            }
            
            .times {
                position: absolute;
                height: 478px;
                left: 121px;
                right: 265px;
                top: 323px;
                /* width: 754px; */
                background: #A5A4A7;
                border-radius: 10px;
                width: 700px;
                text-align: center;
            }
            
            .mat-elevation-z8 {
                width: 100%;
                background-color: #00b399;
                border-collapse: separate;
                border-spacing: 1em;
            }
            
            td {
                border-radius: 10px;
                color: white;
                border-style: solid;
                border-color: black;
                text-align: center;
                background-color: #065560;
            }
            
            th {
                color: white;
                font-size: 20px;
                text-align: center;
            }
            
            .example-full-width {
                position: absolute;
                height: 64px;
                left: 424px;
                right: 500px;
                top: 171px;
            }
            
            .container {
                position: relative;
                top: -150px;
                left: 150px;
            }
            
             :host {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
            
            mat-drawer {
                width: 260px;
                background: #065560;
            }
            
            mat-drawer-container {
                height: 100%;
            }
            
            .img1 {
                height: 160%;
                width: 100%;
                opacity: 70%;
                position: absolute;
            }