            .hospital {
                position: absolute;
                height: 64px;
                left: 4px;
                right: 200px;
                top: 171px;
            }
            
            .patient {
                position: absolute;
                height: 64px;
                left: 800px;
                right: 180px;
                top: 171px;
            }
            
            .times {
                position: absolute;
                height: 478px;
                left: 121px;
                right: 265px;
                top: 323px;
                /* width: 754px; */
                background: #A5A4A7;
                border-radius: 10px;
                width: 700px;
                text-align: center;
            }
            
            .mat-elevation-z8 {
                width: 100%;
                background-color: #00b399;
                border-collapse: separate;
                border-spacing: 1em;
            }
            
            td {
                border-radius: 10px;
                color: white;
                border-style: solid;
                border-color: black;
                text-align: center;
                background-color: #065560;
            }
            
            th {
                color: white;
                font-size: 20px;
                text-align: center;
            }
            
            .example-full-width {
                position: absolute;
                height: 64px;
                left: 380px;
                right: 500px;
                top: 171px;
            }
            
            .icon3 {
                position: relative;
                top: 30px;
                left: -35px;
            }
            
            .container {
                position: relative;
                top: -150px;
                left: 150px;
            }
            
             :host {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
            
            mat-drawer {
                width: 260px;
                background: #065560;
            }
            
            mat-drawer-container {
                height: 100%;
            }
            
            .img1 {
                height: 160%;
                width: 100%;
                opacity: 70%;
                position: absolute;
            }
            
            .abc {
                position: relative;
                width: 220px;
                height: -34px;
                text-align: center;
            }
            
            .example-input {
                height: 50px;
                width: 250px;
                position: relative;
                top: 20px;
            }
            /* table */
            
            .availability-table {
                width: 100%;
                border-collapse: collapse;
                font-family: Arial, sans-serif;
            }
            
            .availability-table th,
            .availability-table td {
                padding: 10px;
                text-align: left;
            }
            
            .availability-table th {
                background-color: #b59292;
            }
            
            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 34px;
            }
            
            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }
            
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
            }
            
            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }
            
            input:checked+.slider {
                background-color: #2196F3;
            }
            
            input:focus+.slider {
                box-shadow: 0 0 1px #2196F3;
            }
            
            input:checked+.slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }
            
            .time-input {
                width: 100%;
                padding: 5px;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 14px;
            }
            
            .time-input:disabled {
                background-color: #f2f2f2;
            }
            
            .tablenew {
                position: relative;
                top: 700px;
            }