.icon {
    width: 40px;
    height: 40px;
    position: relative;
    top: -13px;
    align-items: center;
}

.full {
    width: 380px;
    height: 50px;
    left: 56px;
    top: 393px;
    border-radius: 10px;
}

.placeholder {
    height: 40px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #979797;
    text-align: center;
}

.lable1 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    left: 40px;
    position: relative;
}

.icon3 {
    width: 40px;
    height: 40px;
    position: relative;
    top: -13px;
    align-items: center;
}

.full3 {
    width: 380px;
    height: 50px;
    left: 56px;
    top: 548px;
    border-radius: 10px;
    position: absolute;
}

.placeholder3 {
    height: 40px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #979797;
    text-align: center;
}

.lable3 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    left: 70px;
    position: relative;
}

mat-slider {
    position: absolute;
    width: 365px;
    left: 47px;
    top: 869px;
}

.button {
    position: absolute;
    width: 236px;
    height: 60px;
    left: 137px;
    top: 950px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.head {
    position: absolute;
    width: 241px;
    height: 55px;
    left: 550px;
    top: 180px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 145%;
    /* or 55px */
    color: #000000;
}

.discription {
    position: absolute;
    width: 493px;
    height: 140px;
    left: 550px;
    top: 250px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 145%;
    /* or 35px */
    color: #787878;
}

.add1 {
    position: absolute;
    width: 424px;
    height: 186px;
    left: 528px;
    top: 792px;
    background: #383993;
    border-radius: 15px;
}

.add2 {
    position: absolute;
    width: 424px;
    height: 186px;
    left: 1001px;
    top: 792px;
    background: #383993;
    border-radius: 15px;
}

.include1heading {
    position: relative;
    width: 177px;
    height: 30px;
    left: 97px;
    top: 20px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: white;
    ;
}

.include2heading {
    position: relative;
    width: 228px;
    height: 30px;
    left: 115px;
    top: 15px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: white;
}

.include1content {
    position: relative;
    width: 257px;
    height: 60px;
    left: 97px;
    top: 40px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: white;
}

.include2content {
    position: relative;
    width: 257px;
    height: 60px;
    left: 97px;
    top: 40px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: white;
}

.a {
    width: 10px;
    height: 10px;
}

 :host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 260px;
    background: #383993;
}

mat-drawer-container {
    height: 100%;
}