<form>
    <mat-form-field class="full" appearance="outline">

        <mat-label class="lable1">Search Hospitals</mat-label>
        <input type="text" class="placeholder" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>


        <mat-icon class="icon" matSuffix>search</mat-icon>



    </mat-form-field>
</form>

<mat-form-field class="full3" appearance="outline">

    <mat-label class="lable3">Search District </mat-label>
    <input class="placeholder3" matInput placeholder="Search District">

    <mat-icon class="icon3" matSuffix>search</mat-icon>

</mat-form-field>

<mat-slider min="0" max="100000" step="1000" showTickMarks discrete [displayWith]="formatLabel">
    <input matSliderThumb>
</mat-slider>

<button class="button" mat-raised-button color="primary">show hospital</button>
<div class="head">{{heading}}</div>
<div class="discription">{{discription}}</div>

<div class="add1">
    <div class="include1heading">{{add1include}}</div>
    <div class="include1content">{{add1content}}</div>
</div>
<div class="add2">
    <div class="include2heading">{{add2include}}</div>
    <div class="include2content">{{add2content}}</div>
</div>
<img src={{myimage1}}>