<app-mininavbar (toggleLeftToolBarForMe)="leftToolBarToggler()">
</app-mininavbar>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-left-tool-bar></app-left-tool-bar>
    </mat-drawer>
    <mat-drawer-content>
        <div class="container">
            <mat-card class="example-card">
                <div class="harry">{{name}} </div>

                <div class="cardio">{{speciality}} </div>

                <!-- <div class="image">

                    <img class="imgradius" mat-card-md-image [src]='img1'>
                    <button mat-button class="editpic">Edit</button> </div> -->
                <div class="12">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img [src]="imageSource" class="img-fluid imgradius" />
                        <input type="file" class="ttt" (change)="onFileSelected($event)">
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <!-- <h5 class="card-title title">Card title</h5> -->
                        <button class="btn btn-primary buttonpro" (click)="changeImage()">Edit</button>
                    </div>
                </div>




                <div class="hr">
                    <hr>
                </div>

            </mat-card>


            <div class="harry2 ">{{name2}}</div>
            <div class="speci ">{{speciality2}}</div>
            <mat-icon class="loc ">support</mat-icon>

            <!-- <div *ngIf="!editing2">
                <span class="text2">{{ text2 }}</span>
            </div>
            <div *ngIf="editing2">
                <p><input type="text" class="text2" placeholder="Enter text here" [(ngModel)]="newText2"></p>
                <button mat-button class="savebut2" (click)="save2()">Save</button>
                </div> <button mat-icon-button class="editbut2" (click)="toggleEditing2()">
                <mat-icon >edit</mat-icon>
              </button> -->

            <div class="location ">Location
                <div *ngIf="!editing1">
                    <div class="add ">{{address}} </div>
                </div>
                <div *ngIf="editing1">
                    <p><input type="text" class="text1" placeholder="Enter text here" [(ngModel)]="newText1"></p>
                    <button mat-button class="savebut1" (click)="save1()">Save</button>
                </div> <button mat-button class="editadd" (click)="toggleEditing1()">
                    <!-- <mat-icon >edit</mat-icon> -->
                    Edit Address
                </button>
            </div>

            <div class="Specialities ">Specialities</div>
            <mat-icon class="loc2 ">support</mat-icon>
            <button mat-button class="addspe ">Add Specialities</button>
            <div class="Cardiology ">{{speciality3}}</div>
            <mat-icon class="loc3">support</mat-icon>
            <div class="WorkPlaces ">Work Places</div>
            <button mat-button class="ABCHospital1 ">ABC Hospital1</button>
            <button mat-button class="ABCHospital2 ">ABC Hospital2</button>
            <button mat-button class="ABCHospital3 ">ABC Hospital3</button>
            <!-- <button mat-button class="AddWorkplace ">Add Work place</button> -->
            <button type="button" class="btn btn-primary AddWorkplace" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
  Add 
</button>

            <!-- Modal -->
            <div class="modal fade qwe" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                Modal title
                            </h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="text" placeholder="qwer"> </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Close
        </button>
                            <button type="button" class="btn btn-primary">
          Save changes
        </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Qualification ">Qualification</div>
            <mat-icon class="loc4 ">support</mat-icon>

            <div class="slmc ">SLMC Number: 1952</div>
            <mat-icon class="loc5 ">support</mat-icon>
            <div class="Experiance ">Experiance

                <div *ngIf="!editing4">
                    <div class="emad ">{{experiance}} </div>
                </div>
                <div *ngIf="editing4">
                    <p><input type="text" class="text4" placeholder="Enter text here" [(ngModel)]="newText4"></p>
                    <button mat-button class="savebut4" (click)="save4()">Save</button>
                </div> <button mat-button class="ex" (click)="toggleEditing4()">
        <!-- <mat-icon >edit</mat-icon> -->
        Edit Experiance
    
     </button>
            </div>

            <!-- <div class="ex ">12 years </div> -->

            <!-- <button mat-button class="AddWorkExperience ">Add Experience</button> -->
            <button mat-button class="manage ">Manage My Own Business</button>
            <div class="are ">Are you have a Own Clinic ?</div>
            <mat-icon class="loc6 ">support</mat-icon>
            <div class="number ">Mobile Number
                <!-- <div class="nu ">{{mobilenumber}} -->

                <!-- <button mat-button class=" ">Edit Mobile Number</button> -->
                <div *ngIf="!editing2">
                    <div class="nu ">{{mobilenumber}} </div>
                </div>
                <div *ngIf="editing2">
                    <p><input type="text" class="text2" placeholder="Enter text here" [(ngModel)]="newText2"></p>
                    <button mat-button class="savebut2" (click)="save2()">Save</button>
                </div> <button mat-button class="editnum" (click)="toggleEditing2()">
                <!-- <mat-icon >edit</mat-icon> -->
                Edit Mobile Number
            
             </button>
            </div>
            <mat-icon class="loc7 ">support</mat-icon>
            <div class="email ">E-Mail
                <div *ngIf="!editing3">
                    <div class="emad ">{{email}} </div>
                </div>
                <div *ngIf="editing3">
                    <p><input type="text" class="text3" placeholder="Enter text here" [(ngModel)]="newText3"></p>
                    <button mat-button class="savebut3" (click)="save3()">Save</button>
                </div> <button mat-button class="editemail" (click)="toggleEditing3()">
            <!-- <mat-icon >edit</mat-icon> -->
            Edit Email
        
         </button></div>
            <!-- <div class="emad ">adsfdghgjhkng@gmail.com</div> -->
            <!-- <button mat-button class="editemail ">Edit Email Address</button> -->
            <div class="location ">Location</div>
            <!-- <div class="ratings ">Ratings</div>
            <mat-icon class="star1 ">star</mat-icon>
            <mat-icon class="star2 ">star</mat-icon>
            <mat-icon class="star3 ">star</mat-icon>
            <mat-icon class="star4 ">star</mat-icon>
            <mat-icon class="star5 ">star</mat-icon> -->

            <mat-icon class="treated ">manage_serach</mat-icon>
            <div class="treatedhowmuch ">0</div>
            <div class="treat ">Patients Treated</div>
        </div>
        <div class="vl"></div>
        <hr class="hrq1">
        <hr class="hrq2">
        <hr class="hrq3">
        <hr class="hrq4">
        <hr class="hrq5">
        <hr class="hrq6">


    </mat-drawer-content>
</mat-drawer-container>