<!-- Services section -->
<Section id="services" style="padding: 30px 0">
  <div class="container">
    <div class="row justify-content-center align-items-center mb-2">
      <div
        class="left-image col-lg-4 col-md-12 col-sm-12 service-img"
        data-aos="fade-right"
      >
        <img
          src="../../../assets/img/service-left-image.png"
          class="img-fluid rounded d-block"
          alt="service-img"
          style="width: 710px"
        />
      </div>
      <div class="right-text offset-lg-1 col-lg-6 col-sm-12 col-md-12">
        <div
          class="row g-0 my-5"
          data-aos="fade-left"
          *ngFor="let feature of Website_features"
        >
          <div class="text-center col-md-3">
            <img
              [src]="feature.imgUrl"
              class="img-fluid rounded-start service-icon"
              alt="..."
            />
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h1 class="card-title">{{ feature.title }}</h1>
              <p class="card-text">{{ feature.content }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Section>

<!-- left decor -->
<div class="left-image-decor"></div>

<!-- Promotion section -->
<section class="promo" style="padding: 5px 0">
  <div class="container-fluid my-1">
    <div class="row justify-content-center align-items-center my-1">
      <div class="col-md-4 text-center d-md-block video" data-aos="fade-right">
        <img
          class="img-fluid rounded"
          src="../../../assets/img/home-promo-doc.png"
        />
      </div>
      <div
        class="col-md-5 text-center text-md-start content p-5"
        data-aos="fade-left"
      >
        <h3>
          <div class="h3 my-about-2">your nearest doctor</div>
        </h3>
        <p class="text-muted">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas et vero
          mollitia nemo corporis consequatur aspernatur distinctio dignissimos
          velit nam.
        </p>
        <a href="#services" class="btn btn-success btn-lg hero-btns"
          >read more</a
        >
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div
        class="col-md-5 text-center text-md-start content p-5 order-2 order-lg-1"
        data-aos="fade-right"
      >
        <h3>
          <div class="h3 my-about-2">your nearest pharmacy</div>
        </h3>
        <p class="text-muted">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas et vero
          mollitia nemo corporis consequatur aspernatur distinctio dignissimos
          velit nam.
        </p>
        <a href="#services" class="btn btn-success btn-lg hero-btns"
          >read more</a
        >
      </div>
      <div
        class="col-md-4 text-center d-md-block video order-1 order-lg-2"
        data-aos="fade-left"
      >
        <img
          class="img-fluid rounded"
          src="../../../assets/img/home-promo-pha.png"
        />
      </div>
    </div>
  </div>

  <div class="right-image-decor"></div>

  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-4 text-center d-md-block video" data-aos="fade-right">
        <img
          class="img-fluid rounded"
          src="../../../assets/img/home-promo-amb.png"
        />
      </div>
      <div
        class="col-md-5 text-center text-md-start content p-5"
        data-aos="fade-left"
      >
        <h3>
          <div class="h3 my-about-2">your nearest amblunace</div>
        </h3>
        <p class="text-muted">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas et vero
          mollitia nemo corporis consequatur aspernatur distinctio dignissimos
          velit nam.
        </p>
        <a href="#services" class="btn btn-success btn-lg hero-btns"
          >read more</a
        >
      </div>
    </div>
  </div>
</section>

<!-- Blog entries section -->
<section class="section" id="Blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="center-heading text-center">
          <h1>
            <div class="display-6">Blog <em>Entires</em></div>
          </h1>
          <p class="text-muted">
            Suspendisse vitae laoreet mauris. Fusce a nisi dapibus, euismod
            purus non, convallis odio. Donec vitae magna ornare, pellentesque ex
            vitae, aliquet urna.
          </p>
        </div>

        <div
          id="carouselMultiItem"
          class="carousel slide carousel-dark text-center"
          data-mdb-ride="carousel"
        >
          <div class="carousel-inner py-4">
            <div class="carousel-item active">
              <div class="container">
                <owl-carousel-o
                  [options]="customOptions"
                  (translated)="getPassedData($event)"
                >
                  <ng-container *ngFor="let blogSection of blogSections">
                    <ng-template carouselSlide id="{{ blogSection.id }}">
                      <div
                        class="card mb-5 shadow-sm col-lg-10 my-auto mx-sm-3"
                      >
                        <div
                          class="bg-image hover-overlay hover-zoom hover-shadow ripple"
                        >
                          <img
                            src="{{ blogSection.blogImage }}"
                            class="img-fluid w-100"
                            alt=""
                          />
                          <a href="#!">
                            <div
                              class="mask"
                              style="background-color: hsla(195, 83%, 58%, 0.2)"
                            ></div>
                          </a>
                        </div>

                        <div class="card-body">
                          <div class="card-title">
                            <h2>{{ blogSection.blogTitle }}</h2>
                          </div>
                          <div class="card-text">
                            <p>{{ blogSection.blogText }}</p>
                          </div>
                          <a
                            href=""
                            class="btn btn-outline-primary rounded-0 float-end"
                            >Read more</a
                          >
                        </div>
                      </div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ***** Testimonials Starts ***** -->
<section class="section" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="center-heading text-center">
          <h1>
            <div class="display-6">What They Think <em>About Us</em></div>
          </h1>
          <p class="text-muted">
            Suspendisse vitae laoreet mauris. Fusce a nisi dapibus, euismod
            purus non, convallis odio. Donec vitae magna ornare, pellentesque ex
            vitae, aliquet urna.
          </p>
        </div>
        <!-- Carousel wrapper -->
        <div
          id="carouselMultiItem"
          class="carousel slide carousel-dark text-center"
          data-mdb-ride="carousel"
        >
          <div class="carousel-inner py-4">
            <!-- Single item -->
            <div class="carousel-item active">
              <div class="container">
                <owl-carousel-o
                  [options]="customOptions"
                  (translated)="getPassedData($event)"
                >
                  <ng-container *ngFor="let UserTesmonial of UserTesmonials">
                    <ng-template carouselSlide id="{{ UserTesmonial.id }}">
                      <div class="col-lg-10 mx-auto d-lg-block">
                        <img
                          class="rounded-circle shadow-1-strong mb-4 mx-auto"
                          src="{{ UserTesmonial.userImage }}"
                          alt="avatar"
                          style="width: 150px"
                        />
                        <h5 class="mb-3">{{ UserTesmonial.userName }}</h5>
                        <!-- <p>Web Developer</p> -->
                        <p class="text-muted">
                          <i class="fas fa-quote-left pe-2"></i>
                          {{ UserTesmonial.userComment }}
                        </p>
                        <ul
                          class="list-unstyled d-flex justify-content-center text-warning mb-0"
                        >
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li>
                            <i class="fas fa-star-half-alt fa-sm"></i>
                          </li>
                        </ul>
                      </div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-contactus></app-contactus>
