.box {
  width: 400px;
  height: 200px;
  background: #202746;
  color: #979db4; border:5px solid #fff;
  box-shadow:0px 0px 3px #202746;
  margin:10vh 2vh;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;

}
.service-icon{
  width: 70px;
}

.left-image-decor {
  background-image: url(../../../assets/img/left-bg-decor.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  display: inline-block;
  height: 110%;
  margin-top: -200px;
}

.right-image-decor {
  background-image: url(../../../assets/img/right-bg-decor.png);
  background-repeat: no-repeat;
  background-position: right center;
  position: absolute;
  width: 100%;
  display: inline-block;
  height: 110%;
  margin-top: -200px;
}

.my-about-2{
  text-transform:capitalize;
}
