
<Section id="services" style="padding: 60px 0;">
    <div class="container">
        <div class="row justify-content-center align-items-center ">
            <div class="left-image col-lg-5 col-md-12 col-sm-12 service-img " data-aos="fade-right">
                <img src="../../../assets/img/service-left-image.png" class="img-fluid rounded d-block mx-auto"
                    alt="service-img">
            </div>

            <div class="right-text offset-lg-1 col-lg-6 col-sm-12 col-md-12">
                <div class="row g-0 my-5" data-aos="fade-left">
                    <div class="text-center col-md-3">
                        <img src="../../../../../assets/img/icon-img1.png" class="img-fluid rounded-start service-icon" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title">your nearest doctor</h1>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="row g-0 my-5" data-aos="fade-left">
                    <div class="text-center col-md-3">
                        <img src="../../../../../assets/img/icon-img1.png" class="img-fluid rounded-start service-icon" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title">Card title</h1>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="row g-0 my-5" data-aos="fade-left">
                    <div class="text-center col-md-3">
                        <img src="../../../../../assets/img/icon-img1.png" class="img-fluid rounded-start service-icon" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title">Card title</h1>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Section>