<div class="box" data-aos="fade-right">fade-right</div>
<Section id="services">
    <div class="container">
        <div class="row">
            <div class="left-image col-lg-5 col-md-12 col-sm-12">
                <img src="" class="img-fluid rounded d-block mx-auto" alt="service-img">
            </div>

            <div class="right-text offset-lg-1 col-lg-6 col-sm-12 col-md-12">
                <ul>
                    <li>
                        <div class="text">
                            <h4>Doctors</h4>
                            <p>dfdfscv</p>
                        </div>               
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</Section>


