.spacer {
  flex: 1 1 auto;
}
.logo{
  height: 59px;
  width: auto;
  margin-top: 12px;
}
mat-toolbar{
  padding: 10px;
  z-index: 999;
  box-shadow: #8d9391 0px 0px 5px;
  background-color: #e1eeea !important;
  color: #065560 !important;
}
/*.sticky{*/
/*  position:fixed;*/
/*  width: 100%;*/
/*  top: 0;*/
/*}*/
a.mat-raised-button{
  margin-left: 15px;
  border-radius: 15px !important;
  background-color: #00be99 ;
  color: white;
}
a.mat-stroked-button{
  border-radius: 15px !important;
  border-color: #00be99 !important;
}
.nav-link{
  font-size: 16px;
}
button{
  margin-left: 2px;
}
button.active{
  background:  rgb(1, 166, 141);
}
button:hover{
  background: rgb(69, 156, 143);
}
