
<mat-toolbar color="primary">
  <!-- if want add shadow to navbar -->
  <!-- <mat-toolbar color="primary" class="mat-elevation-za"></mat-toolbar> -->

  <span>
        <a routerLink="/home" >
        <img src="../../../assets/img/logo-light-background.png" class="logo" alt="logo" >
        </a>
    </span>
  <div class="spacer"></div>

  <!-- fxHide fxShow.gt-sm - means the the above element will be hidden by default and ONLY shown on viewport sizes greater than mobile. -->
  <div fxLayout="row" fxHide fxShow.gt-sm>
    <a class="nav-link" routerLink="/home" mat-button>Home</a>
    <a class="nav-link" routerLink="/doctor" mat-button>Doctor</a>
    <a class="nav-link" routerLink="/hospital" mat-button>Hospitals</a>
    <a class="nav-link" routerLink="/pharmacy" mat-button>Pharmacy</a>
    <a class="nav-link" routerLink="/ambulance" mat-button>Ambulance</a>
    <a class="nav-link" routerLink="" mat-button>About</a>
    <a class="nav-link" routerLink="" mat-button>Contact</a>

    <div class="spacer"></div>
    <a class="nav-link" routerLink="/login" mat-stroked-button>Login</a>
    <a class="nav-link" routerLink="/doctorsignup" mat-raised-button>Sign up</a>
  </div>

  <!-- responsive menu part -->
  <!-- fxShow fxHide.md  - means the the above element will be shown by default and ONLY hidden on viewport sizes == md mediaQuery ranges. -->
  <button mat-button [mat-menu-trigger-for]="menu" fxShow fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu x-position = "before" #menu>
  <button routerLink="/home" mat-menu-item>Home</button>
  <button routerLink="" mat-menu-item>Doctor</button>
  <button routerLink="" mat-menu-item>Hospital</button>
  <button routerLink="" mat-menu-item>Pharmacy</button>
  <button routerLink="" mat-menu-item>Ambulance</button>
  <button routerLink="" mat-menu-item>About</button>
  <button routerLink="" mat-menu-item>Contact</button>
  <button routerLink="" mat-menu-item>Login</button>
  <button routerLink="" mat-menu-item>Sign up</button>
</mat-menu>
