<div class="h6 m-4" style="font-size: 22px; color: rgb(5, 77, 83)">
     About
  </div>
  <div class="m-4">
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into 
        electronic typesetting, remaining essentially unchanged. It was popularised in
         the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
          desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </div>
  <div class="h6 m-4" style="font-size: 22px; color: rgb(5, 77, 83)">
    Offered Services
 </div>
 <div class="m-4">
    <div class="card">
        <div class="row">
            <div class="col-md-1 m-4">
              <img src="../../../../../assets/img/Medical-genetics-.png" alt="">
            </div>
            <div class="col-md-9 m-3">
              <h3>Medical-genetics</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into 
                    electronic typesetting, remaining essentially unchanged. It was popularised in
                     the 1960s
                </p>
                <p>Price : Rs.2000.00</p>
            </div>
        </div>
    </div>
 </div>
 
 <div class="h6 m-4" style="font-size: 22px; color: rgb(5, 77, 83)">
    Gallery
 </div>
 <div class="row" *ngFor="let data of hospitalData">
    <div class="col-lg-4 ">
        <img src="{{data.galleryImage1}}" class="image img-fluid" alt="images of hospital">
    </div>
   
 </div>
 