<app-patient-navbar (toggleLeftToolBarForMe)="leftToolBarToggler()">
</app-patient-navbar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-patient-left-toolbar></app-patient-left-toolbar>
  </mat-drawer>
  <mat-drawer-content>
    <img class="img1" src="\assets\img\docprofback.jpg" />

    <mat-card class="bigcard">

      <div class="card1">

        <div class="fullname">
          Full Name
          <span class="text">{{ patient.firstname }} {{patient.lastname}}</span>
        </div>

        <hr />

        <div class="Email">
          E-Mail
          <div *ngIf="!editEmail">
            <span class="text2">{{ patient.emailID }}</span>
          </div>
          <div *ngIf="editEmail">
            <p>
              <input
                type="text"
                class="text2"
                placeholder="Enter text here"
                [(ngModel)]="newEmail"
              />
            </p>
            <button mat-button class="savebut2" (click)="saveEmai()">Save</button>
          </div>
          <button mat-icon-button class="editbut2" (click)="editEmail=true">
            <mat-icon>edit</mat-icon>
          </button>
        </div>

        <hr class="hr2" />

        <div class="phone">
          Phone
          <div *ngIf="!editMobilenumber">
            <span class="text3">{{ patient.contactnumber }}</span>
          </div>
          <div *ngIf="editMobilenumber">
            <p>
              <input
                type="text"
                class="text3"
                placeholder="Enter text here"
                [(ngModel)]="newMobilenumber"
              />
            </p>
            <button mat-button class="savebut3" (click)="saveMobilenumber()">Save</button>
          </div>
          <button mat-icon-button class="editbut3" (click)="editMobilenumber=true">
            <mat-icon>edit</mat-icon>
          </button>
        </div>

        <hr class="hr3" />

        <div class="address">
          Address

          <div *ngIf="!editLocation">
            <span class="text4">{{ patient.address }}</span>
          </div>
          <div *ngIf="editLocation">
            <p>
              <input
                type="text"
                class="text4"
                placeholder="Enter text here"
                [(ngModel)]="newLocation"
              />
            </p>
            <button mat-button class="savebut4" (click)="saveLocation()">Save</button>
          </div>
          <button mat-icon-button class="editbut4" (click)="editLocation=true">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
      <div class="vl"></div>

      <div class="card card2">
        <div
          class="bg-image hover-overlay ripple"
          data-mdb-ripple-color="light"
        >
          <img [src]="patient.imageapi" class="img-fluid uu" />

          <div>
            <form>
              <div>
                <input type="file" (change)="onFileSelected($event)" />
              </div>
              <div>
                <button type="button" (click)="onUpload()">Upload</button>
              </div>
            </form>
          </div>

          <a href="#!">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.15)"
            ></div>
          </a>
        </div>
      </div>
    </mat-card>

  </mat-drawer-content>
</mat-drawer-container>