<app-main-nav></app-main-nav>
<div class="container">
    <img class="img1" src="\assets\img\docprofback.jpg">
    <mat-card class="example-card">

        <div class="image">

            <img class="imgradius" mat-card-md-image [src]='doctor.pImage'>
        </div>
        <div class="harry">{{doctor.name}} </div>

        <div class="cardio">{{doctor.spciality}} </div>

        <div class="hr">
            <hr>
        </div>

    </mat-card>

    <div class="namespeci">
        <div class=" harry2 ">{{doctor.name}}</div>
        <div class="speci ">{{doctor.spciality}}</div>
    </div>
    <mat-icon class="loc ">support</mat-icon>
    <div class="location ">Location</div>
    <div class="add ">{{doctor.city}} </div>

    <div class="Specialities ">Specialities</div>
    <mat-icon class="loc2 ">support</mat-icon>

    <div class="Cardiology ">{{doctor.spciality}}</div>
    <div class="WorkPlaces ">Work Places</div>
    <mat-icon class="loc3 ">support</mat-icon>
    <button mat-button class="ABCHospital1 ">ABC Hospital1</button>
    <button mat-button class="ABCHospital2 ">ABC Hospital2</button>
    <button mat-button class="ABCHospital3 ">ABC Hospital3</button>

    <div class="Qualification ">Qualification</div>
    <mat-icon class="loc4 ">support</mat-icon>

    <div class="slmc ">SLMC Number: 1952</div>
    <div class="Experiance ">Experiance</div>
    <div class="ex ">{{doctor.hospital}} </div>


    <button mat-button class="manage " [routerLink]="[ '/patientview', doctor.id] " [queryParams]="{ pharmacycity: doctor.city, pharmacyname: doctor.name }" queryParamsHandling="merge">Upload Prescription</button>


    <div class="are ">Do you want to channel ?</div>
    <mat-icon class="loc5 ">support</mat-icon>
    <div class="number ">Mobile Number</div>
    <mat-icon class="loc6 ">support</mat-icon>
    <div class="nu ">{{doctor.city}}</div>


    <mat-icon class="loc7 ">support</mat-icon>
    <div class="email ">E-Mail</div>
    <div class="emad ">{{doctor.city}}</div>

    <div class="location ">Location</div>


    <mat-icon class="treated ">manage_serach</mat-icon>
    <div class="treatedhowmuch ">0</div>
    <div class="treat ">Patients Treated</div>
    <div class="vl "></div>

    <hr class="hrq1 ">
    <hr class="hrq2 ">
    <hr class="hrq3 ">
    <hr class="hrq4 ">
    <hr class="hrq5 ">
    <hr class="hrq6 ">

</div>