    .mat1 {
        position: absolute;
        width: 613px;
        height: 500px;
        left: 400px;
        top: 105px;
        background: #FFFFFF;
        box-shadow: 0px 4.07454px 24.4472px -1.01863px rgba(0, 0, 0, 0.11);
        backdrop-filter: blur(20.3727px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 20px;
    }
    
    .mat-elevation-z8 {
        width: 100%;
        background-color: #FFFFFF;
        border-radius: 30px;
        border-collapse: separate;
        row-gap: 30px;
        column-gap: 30px;
        border-style: none;
    }
    /* td {
        margin: 10px 10px 10px 10px;
    } */
    
    .head {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 29px;
        /* identical to box height, or 115% */
        display: flex;
        align-items: center;
        letter-spacing: -0.02em;
        color: #4E4E4E;
    }
    
    .mat2 {
        position: absolute;
        width: 609px;
        height: 500px;
        left: 400px;
        top: 667px;
        background: rgba(228, 228, 232, 0.63);
        box-shadow: 0px 4.07454px 24.4472px -1.01863px rgba(0, 0, 0, 0.11);
        backdrop-filter: blur(20.3727px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 20px;
    }
    /* tr {
        border-collapse: separate;
        display: block;
        margin: 5px;
        row-gap: 100px;
    }
    
    .solid {
        border: 2px red solid;
        border-radius: 10px;
    }
    
    td {
        padding: 5px;
        justify-content: space-between;
        border-spacing: 10px;
    } */
    
    td {
        /* border-style: none; */
        color: blue;
    }
    
    tr {
        border-collapse: separate;
        border-style: dashed;
        border-radius: 80px;
        margin: 10px;
        row-gap: 10px;
    }
    
    .imageori {
        position: absolute;
        width: 40.36px;
        height: 40.36px;
        left: 613px;
        top: 232px;
    }
    
     :host {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    mat-drawer {
        width: 260px;
        background: #065560;
    }
    
    mat-drawer-container {
        height: 100%;
    }