<div class="n" fxLayout="row" fxHide fxShow.gt-sm>



    <mat-toolbar class="tool">

        <div class="menu1">
            <button mat-icon-button (click)="toggleLeftToolBar()" class="example-icon" aria-label="Example icon-button with menu icon"> 
        <mat-icon class="menu">menu</mat-icon>
      </button></div>
        <a href="">
            <img src="../../../assets/img/logo-dark-background.png" class="logo" alt="logo"></a>




        <div class="container-fluidsearch">

            <form class="d-flex input-group w-auto">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
           <a href><mat-icon class="search">search</mat-icon></a> 
          </span>
            </form>
        </div>


        <!-- </mat-toolbar> -->

        <!-- <mat-toolbar color="primary" class="tool2"> -->
        <button mat-button color="blue">
        <div class="help">Help & contact</div>
        </button>

        <!-- <ul class="navbar-nav">
            <li class="nav-item dropdown me-3 me-lg-1">
                <a class="nav-link dropdown-toggle hidden-arrow" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-bell"></i>
                    <span class="badge rounded-pill badge-notification bg-danger">12</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="#">Some news</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Another news</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                </ul>

            </li>
        </ul> -->


        <button mat-icon-button class="example-icon " aria-label="Example icon-button with share icon " matBadge="11" matBadgePosition="after" matBadgeColor="warn">
            <mat-icon class="notification">notifications</mat-icon>

        <!-- Include text description of the icon's meaning for screen-readers -->

        <span class="cdk-visually-hidden ">
      Example with a home icon with overlaid badge showing the number 15
    </span>
        </button>

        <!-- <mat-form-field class="formfield" appearance="outline" width="1px">
            <mat-label class="lable">My Account</mat-label>
            <mat-select disableRipple>
                <mat-option value="1 ">Option 1</mat-option>
                <mat-option value="2 ">Option 2</mat-option>
                <mat-option value="3 ">Option 3</mat-option>
            </mat-select>
        </mat-form-field> -->
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button">
            <!-- <mat-icon>person</mat-icon> -->
            <img class="profileimg" src="\assets\img\doctor.jpg" alt="Avatar">
          </button>
        <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button">
            <mat-icon>person_outline</mat-icon> -->
        <!-- <mat-icon >account_circle</mat-icon>
            <img  src="../../../../../../assets/img/doc23.png" />                        
        </button> -->
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/home">
                <mat-icon><i class="fa fa-sign-out" aria-hidden="true"></i></mat-icon>
                <span>Signout</span>
            </button>
        </mat-menu>
        <button mat-button [mat-menu-trigger-for]="menu" fxShow fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
            </button>
    </mat-toolbar>
</div>
<mat-menu x-position="before" #menu>
    <button routerLink="" mat-menu-item>help
            </button>
</mat-menu>