<div class="n" fxLayout="row" fxHide fxShow.gt-sm>



    <mat-toolbar class="tool">

        <div class="menu1">
            <button mat-icon-button (click)="toggleLeftToolBar()" class="example-icon" aria-label="Example icon-button with menu icon"> 
        <mat-icon class="menu">menu</mat-icon>
      </button></div>
        <a href="">
            <img src="../../../assets/img/logo-dark-background.png" class="logo" alt="logo"></a>




        <div class="container-fluidsearch">

            <form class="d-flex input-group w-auto">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
           <a href><mat-icon class="search">search</mat-icon></a> 
          </span>
            </form>
        </div>


        <!-- </mat-toolbar> -->

        <!-- <mat-toolbar color="primary" class="tool2"> -->
        <button mat-button color="blue">
        <div class="help">Help & contact</div>
        </button>



        <button mat-icon-button class="example-icon " aria-label="Example icon-button with share icon " matBadge="11" matBadgePosition="after" matBadgeColor="warn">
            <mat-icon class="notification">notifications</mat-icon>

        <!-- Include text description of the icon's meaning for screen-readers -->

        <span class="cdk-visually-hidden ">
      Example with a home icon with overlaid badge showing the number 15
    </span>
        </button>


        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button">
            <!-- <mat-icon>person</mat-icon> -->
            <img class="profileimg" src="\assets\img\doctor.jpg" alt="Avatar">
          </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/home">
                <mat-icon><i class="fa fa-sign-out" aria-hidden="true"></i></mat-icon>
                <span>Signout</span>
            </button>
        </mat-menu>
        <button mat-button [mat-menu-trigger-for]="menu" fxShow fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
            </button>
    </mat-toolbar>
</div>
<mat-menu x-position="before" #menu>
    <button routerLink="" mat-menu-item>help
            </button>
</mat-menu>