<mat-card class="doctor">
    <div class="doctor1">
        <img src=assets\img\doc23.png class="docimage1"> Dr.Amarasekara
        <button mat-button color="primary" class="button1">view profile</button>
    </div>

    <div class="doctor2"> <img src=assets\img\doc23.png class="docimage1"> Dr.Amarasekara
        <button mat-button color="primary" class="button1">view profile</button></div>
    <div class="doctor3"> <img src=assets\img\doc23.png class="docimage1"> Dr.Amarasekara
        <button mat-button color="primary" class="button1">view profile</button></div>
    <div class="doctor4"> <img src=assets\img\doc23.png class="docimage1"> Dr.Amarasekara
        <button mat-button color="primary" class="button1">view profile</button></div><button mat-button>Add More</button></mat-card>

<mat-card class="hospital">
    <div class="Hospital1"> <img src=assets\img\doc23.png class="docimage1"> Dr.Amarasekara
        <button mat-button color="primary" class="button1">view profile</button></div>
    <div class="Hospital2"> <img src=assets\img\doc23.png class="docimage1"> Dr.Amarasekara
        <button mat-button color="primary" class="button1">view profile</button></div>
    <div class="Hospital3"> <img src=assets\img\doc23.png class="docimage1"> Dr.Amarasekara
        <button mat-button color="primary" class="button1">view profile</button></div>
    <div class="Hospital4"> <img src=assets\img\doc23.png class="docimage1"> Dr.Amarasekara
        <button mat-button color="primary" class="button1">view profile</button></div>
    <button mat-button>Add More</button></mat-card>


<mat-card class="pharmacy">
    <div class="pharmacy1"> <img src=assets\img\doc23.png class="docimage1"> Dr.Amarasekara
        <button mat-button color="primary" class="button1">view profile</button></div>
    <div class="pharmacy2"> <img src=assets\img\doc23.png class="docimage1"> Dr.Amarasekara
        <button mat-button color="primary" class="button1">view profile</button></div>
    <div class="pharmacy3"> <img src=assets\img\doc23.png class="docimage1"> Dr.Amarasekara
        <button mat-button color="primary" class="button1">view profile</button></div>
    <div class="pharmacy4"> <img src=assets\img\doc23.png class="docimage1"> Dr.Amarasekara
        <button mat-button color="primary" class="button1">view profile</button></div>
    <button mat-button>Add More</button></mat-card>