<app-patient-navbar (toggleLeftToolBarForMe)="leftToolBarToggler()">
</app-patient-navbar>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-patient-left-toolbar></app-patient-left-toolbar>
    </mat-drawer>
    <mat-drawer-content class="matcontent">
        <img src="">
        <mat-card class="doctor">
            <div>
                <img class="img1" src="\assets\img\11111.jpg"> </div>


            <div style="text-align: center;">
                Doctors</div>
            <mat-card *ngFor="let doctor of doctors" class="doctorall">
                <img src="{{doctor.imgSrc}}" class="docimage1"> {{doctor.name}}
                <button mat-button color="primary" class="button1">view profile</button>
            </mat-card>
            <button mat-button>Add More</button>
        </mat-card>
        <mat-card class="hospital">
            <div>
                <img class="img1" src="\assets\img\11111.jpg"> </div>
            <div style="text-align: center;">
                hospitals</div>
            <mat-card *ngFor="let doctor of doctors" class="doctorall">
                <img src="{{doctor.imgSrc}}" class="docimage1"> {{doctor.name}}
                <button mat-button color="primary" class="button1">view profile</button>
            </mat-card>
            <button mat-button>Add More</button>
        </mat-card>


        <mat-card class="pharmacy">
            <div>
                <img class="img1" src="\assets\img\11111.jpg"> </div>
            <div style="text-align: center;">
                pharmacies</div>
            <mat-card *ngFor="let doctor of doctors" class="doctorall">
                <img src="{{doctor.imgSrc}}" class="docimage1"> {{doctor.name}}
                <button mat-button color="primary" class="button1">view profile</button>
            </mat-card>
            <button mat-button>Add More</button>
        </mat-card>

    </mat-drawer-content>
</mat-drawer-container>