<app-patient-navbar (toggleLeftToolBarForMe)="leftToolBarToggler()">
</app-patient-navbar>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-patient-left-toolbar></app-patient-left-toolbar>
    </mat-drawer>
    <mat-drawer-content class="matcontent">
        <img src="">
        <mat-card class="doctor">
            <div class="doctor1" style="text-align: center;">
                Favorite Doctors</div>
            <div>
                <img class="img1" src="\assets\img\11111.jpg"> </div>

            <!-- lllll -->

            <mat-card *ngFor="let favorite of favorites" class="doctorall">
                <img src="{{favorite.empImage}}" class="docimage1"> {{favorite.name}}
                <button mat-button color="primary" class="button1" [routerLink]="['/doctorprofileforpatient', favorite.id]">view profile</button>
            </mat-card>
            <button mat-button class="addmore">Add More</button>
        </mat-card>



        <mat-card class="hospital">
            <div class="hospital1" style="text-align: center;">
                Favorite Hospitals</div>
            <div>
                <img class="img1" src="\assets\img\11111.jpg"> </div>

            <mat-card *ngFor="let hospital of hospitals" class="doctorall">
                <img src="{{hospital.hImage}}" class="docimage1"> {{hospital.name}}
                <button mat-button color="primary" class="button1" [routerLink]="['/hospitalprofileforpatient', hospital.id]">view profile</button>
            </mat-card>
            <button mat-button class="addmore">Add More</button>
        </mat-card>







        <mat-card class="pharmacy">
            <div class="pharmacy1" style="text-align: center;">
                Favorite Pharmacies</div>
            <div>
                <img class="img1" src="\assets\img\11111.jpg"> </div>

            <mat-card *ngFor="let pharmacy of pharmacies" class="doctorall">
                <img src="{{pharmacy.pImage}}" class="docimage1"> {{pharmacy.name}}
                <button mat-button color="primary" class="button1" [routerLink]="['/pharmacyprofileforpatient', pharmacy.id]">view profile</button>
            </mat-card>
            <button mat-button class="addmore">Add More</button>
        </mat-card>

    </mat-drawer-content>
</mat-drawer-container>