<app-mininavbar (toggleLeftToolBarForMe)="leftToolBarToggler()">
</app-mininavbar>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-patient-left-toolbar></app-patient-left-toolbar>

    </mat-drawer>
    <mat-drawer-content>

        <div> <img class="bb" src="\assets\img\patientori1111.jpg" alt=""></div>
        <div class="formbold-main-wrapper">


            <div class="formbold-form-wrapper">
                <form class="example-form">

                    <div class="mmm">
                        <label for="name" class="formbold-form-label"> Select Hospital</label>
                        <input type="text" [(ngModel)]="searchText" name="name" id="name" placeholder="Search for a hospital" [formControl]="streetControl" [matAutocomplete]="streetAuto" class="formbold-form-input">
                        <mat-autocomplete #streetAuto="matAutocomplete">
                            <mat-option *ngFor="let book of filteredBooks| async" [value]="book">
                                {{book.hospital}}
                            </mat-option>
                        </mat-autocomplete>
                        <button mat-button class="icon3">
            <mat-icon matSuffix>search</mat-icon></button></div>
                </form>
                <form action="https://formbold.com/s/FORM_ID" method="POST">

                    <div class="formbold-mb-5">
                        <label for="phone" class="formbold-form-label"> Optional Phone Number </label>
                        <input type="text" name="phone" id="phone" placeholder="Enter your phone number" class="formbold-form-input" />
                    </div>

                    <div class="flex flex-wrap formbold--mx-3">
                        <div class="w-full sm:w-half formbold-px-3">
                            <div class="formbold-mb-5 w-full">
                                <label for="date" class="formbold-form-label"> Date </label>
                                <input type="date" name="date" id="date" class="formbold-form-input" />
                            </div>
                        </div>
                        <div class="w-full sm:w-half formbold-px-3">
                            <div class="formbold-mb-5">
                                <label for="time" class="formbold-form-label"> Time </label>
                                <input type="time" name="time" id="time" class="formbold-form-input" />
                            </div>
                        </div>
                    </div>



                    <div>
                        <button class="formbold-btn">Book Appointment</button>
                    </div>
                </form>
            </div>
        </div>

    </mat-drawer-content>
</mat-drawer-container>