<div class="card">
  <mat-card class="card1">
    <mat-card-content> 
      <div class="name1">
          Apothecare
      </div>
      <div class="name2">
          Pharmacy
      </div>
      <img class="image" src="\assets\img\34bc20ba-3ade-d40e-9316-0d9e71cef5b2.png">
      <div>
          <button class="editbutton">Edit Profile</button>
      </div>
  </mat-card-content>
  </mat-card>
</div>




<div class="header">
  <p class="h2 header1">Orders approved by you</p>
  <p class="h5 header2"><mark>+5</mark></p>
</div>


   <table class="table align-middle table-dark table-striped"  >
       <thead class="table-dark thead">
         <tr>
      
        <th>Name</th>
        <th>ID</th>
        <th>Status</th>
        <th>Date</th>
        <th>PDF</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">John Doe</p>
              <p class="text-muted mb-0">john.doe@gmail.com</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1 id1">1</p>
          
        </td>
        <td>
            <button type="button" class="btn btn-success btn-rounded button1" data-mdb-ripple-color="dark">Approved</button>
        </td>
        <td>2023.01.20</td>
        <td>
            <button
            type="button"
            class="btn btn-link btn-rounded btn-sm fw-bold"
            data-mdb-ripple-color="dark"
            >
     PDF
    </button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/6.jpg"
                class="rounded-circle"
                alt=""
                style="width: 45px; height: 45px"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">Alex Ray</p>
              <p class="text-muted mb-0">alex.ray@gmail.com</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1 id2">2</p>
       
        </td>
        <td>
            <button type="button" class="btn btn-success btn-rounded button1" data-mdb-ripple-color="dark">Approved</button>
        </td>
        <td>2023.01.30</td>
        <td>
          <button
                  type="button"
                  class="btn btn-link btn-rounded btn-sm fw-bold"
                  data-mdb-ripple-color="dark"
                  >
            PDF
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                class="rounded-circle"
                alt=""
                style="width: 45px; height: 45px"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">Kate Hunington</p>
              <p class="text-muted mb-0">kate.hunington@gmail.com</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1 id3">3</p>
          
        </td>
        <td>
            <button type="button" class="btn btn-success btn-rounded button1" data-mdb-ripple-color="dark">Approved</button>
        </td>
        <td>2023.02.10</td>
        <td>
          <button
                  type="button"
                  class="btn btn-link btn-rounded btn-sm fw-bold"
                  data-mdb-ripple-color="dark"
                  >
           PDF
          </button>
        </td>
      </tr>
    </tbody>
  </table>
