  <div  class="container-fluid hero" fxFlex fxLayout="row wrap" fxLayoutAlign ="0 center">
    <div>
      <img src="../../../assets/img/home.png" alt="">
    </div>
<!--    <img src="../../../assets/img/home.png" alt="">-->
    <div class="container">
      <h1>We care about <span> <br>Your Health.</span></h1>
      <p>Good health is the state of mental, physical and social well being <br>and it does not just mean absence of diseases.</p>
      <div class="hero-btns">
        <a href="#">Book an Appoinment</a>
      </div>
    </div>
  </div>




