/*-----------------------------------------------------------
    1. General Styles
-------------------------------------------------------------*/
* {
  margin: 0px;
  padding: 0px;
}
#intro{
  padding: 60px 0;
}
#about{
  padding-top: 30px;
  padding-bottom: 20px;
  background: #37ecba;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, rgba(6, 245, 198 , 0.7), rgba(231, 252, 247, 1));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, rgba(6, 245, 198 , 0.7),   rgba(231, 252, 247, 1));
}

/*-----------------------------------------------------------
  2. Typography
------------------------------------------------------------*/
h1 {
  font-size: 4.0rem;
  line-height: 70px;
  color:#00be99;
}
h1 span{
  color: #065560;
}
a{
  font-weight: 1.5rem;
  text-transform: capitalize;
}
.h2{
  font-size: 2.5rem;
  line-height: 3.5rem;
  margin-bottom: 50px;
}
.my-h1 {
  font-size: 9.0rem;
  font-size: 64px;
  letter-spacing: 1px;
}
.my-text2{
  font-size: 2.8rem;
  font-weight: 6rem;
  line-height: 2.5rem;
  letter-spacing: 0.025em;
  color: #065560;
}
.my-4{
  font-weight: 2rem;
  line-height: 2rem;
  color: #6f706f;
}

.my-about-2{
  color: #065560;
}


/*-----------------------------------------------------------
  3. Buttons & Links
-------------------------------------------------------------*/
.hero-btns{
  padding: 8px 17px;
  border-radius: 35px;
  background-color: #00BE99;
  border:2px solid #00BE99;
}
.hero-btns:hover{
  background-color:#008C88;
}
/* .hero-btns a:first-child {
  background-color: #00BE99;
  border:2px solid #00BE99;
  color: #fff;
  padding: 17px 35px;
  font-size: 1.0rem;
  border-radius: 35px;
  
} */
/* .hero-btns a:first-child:hover {
  background-color: #fff;
  border:2px solid #00BE99;
  color:  #065560;
  padding: 17px 35px;
  font-size: 1.0rem;
  border-radius: 35px;
  transition: all 0.3s ease;
}
.hero-btns a:last-child {
  color: #FFFFFF;
  padding: 17px 35px;
  font-size: 1.0rem;
}
.hero-btns a:last-child:hover {
  color: #00BE99;
  transition: all 0.3s ease;
} */



/*-----------------------------------------------------------
  2. textarea
-------------------------------------------------------------*/
#textarea{
  height: auto;
}
#textarea .container-fluid{
  /* fallback for old browsers */
  background: #37ecba;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, rgba(6, 245, 198 , 0.7), rgba(231, 252, 247, 1));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, rgba(6, 245, 198 , 0.7),   rgba(231, 252, 247, 1));
}
.textarea {
  padding-top: 90px;
  padding-bottom: 10px;
}
.textarea h2{
  color: #065560;
}
/* .text-cards{
  padding:40px 100px 80px 100px ;
} */
.text-cards mat-card{
  border-radius: 25px;
  box-shadow: none;
  background: white;
  padding:25px 20px 25px 20px ;
}
.text-cards mat-card-title{
  font-size: 23px;
  color: #067a5b;
}
.text-cards mat-card-content{
  text-align: center;
  color: #6f706f;
}
.text-cards mat-card img{
  width: 70px;
  height: auto;
}

/*-----------------------------------------------------------
  11. Responsive
-------------------------------------------------------------*/
/* @media (max-width: 1700px) {
  .hero-btns {
    margin-bottom: 200px;
  }
}
@media (max-width: 1500px) {
  .hero img {
    margin-top: 130px;
  }
}
@media (max-width: 1350px) {
  .hero-btns {
    margin-bottom: 140px;
  }
}
@media (max-width: 1199px) {
.container{
  margin-left: 90px;
}
  .hero img {
    margin-top: 150px;
    width: 45%;
  }
  .hero h1 {
    margin-top: 150px;
  }
  h2 {
    font-size: 2rem;
    line-height: 3.0rem;
  }
  h3 {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 20px;
  }
  .services p {
    font-size: 0.8rem;
  }
  .hero-btns {
    margin-bottom: 120px;
  }
}
@media (max-width: 991px) {

  .hero img {
    display: none;
  }
  .hero {
    text-align: center;
  }
  .hero h1 {
    margin-top: 80px;
    margin-right: 100px;
  }

  .hero-btns {
    margin-bottom: 70px;
  }
}
@media (max-width: 768px) {
  .container{
    margin-left: 50px;
  }
  .hero h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 454px) {
  .container{
    margin-left: 50px;
  }
  .hero h1 {
    font-size: 3.0rem;
    margin-top: 50px;
  }
  .hero p {
    font-size: 0.8rem;
  }
  .hero-btns a:first-child {
    font-size: 0.8rem;
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  .hero-btns a:last-child {
    font-size: 0.8rem;
    display: block;
    width: 70%;
    margin: 0 auto;
  }
} */


