<header id="home">
  <!-- HERO SECTION -->
  <div class="container-fluid hero">
    <img src="../../../assets/img/home.png" alt="home">
    <div class="container">
      <!-- Hero Title -->
      <h1>We care about <span> <br>Your Health.</span></h1>
      <!-- Hero Title Info -->
      <p>Good health is the state of mental, physical and social well being <br>and it does not just mean absence of diseases.</p>
      <div class="hero-btns">
        <a href="#">Book an Appoinment</a>
      </div>
    </div>
  </div>
</header>






