.container-fluid {
  /*height: 100vh;*/
  margin: 0px;
  padding: 0px;
}

.left-part {
  flex: 0 0 45%;
  background-image: url(../../../../assets/img/doc23.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.right-part {
  flex: 0 0 55%;
  padding: 0.8rem 6rem 0rem 6rem;
  box-sizing: border-box;
  overflow-y: auto;
  background-color:#065560;
}
.logo{
  height: 61px;
  width: auto;
  padding-bottom: 7px;
}
.docform-full-width {
  width: 100%;
}

#title {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  color: #e1eeea;
}

#formtitle {
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
}
.docform-full-width{
  padding-bottom: 10px;
  margin: 0px;
}
mat-label {
  text-transform: capitalize;
  font-size: 15px;
}

mat-form-field {
  font-size: 12px;
  padding: 0px !important;

}
mat-input{
  padding-top: 10px !important;
}
.icon{
  transform: scale(1.5);
}


.middle {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: auto;
}

/* change the mat-raised-button size */
.nextbutton{
  /* width: 10em; */
  width: 150px;
  height: 45px;
  background-color: #00be99;
  font-size: larger;
  box-shadow: none;
  border-radius: 12px;

}

/* change the mat-field background colour */
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color:#ffffff;
  padding: 0px !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #DCD7D7 !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 6px;
  border: 1.5px solid #DCD7D7;
}
.accept{
  font-size: 18px;
  color: #e1eeea;
}
.accept a{
  color:#00be99;
  text-decoration: none;
}
.login{
  font-size: 18px;
}
.login a{
  font-size: 1.1rem;
  color: #FE8E3C;
  text-decoration: none;
}
