<h2 class="my-text3 py-4 mx-4 h-1">Dashboard</h2>
<div class="row my-1 align-items-center justify-content-center">

    <mat-card class="col-8 col-lg-2 col-xl-2 mx-4 my-sm-3 mb-5">
        <div class="text-center mx-4">
    
            <img src="../../../assets/img/icon-img1.png" class="card-img-top img-fluid mb-2 my-img-1">
        </div>
        <mat-card-content class="card-body text-center">
            <h2 class="my-text3 ">New Appoinments</h2>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button mat-button>click here to view</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="col-8 col-lg-2 col-xl-2 mx-4 my-sm-3 mb-5">
        <div class="text-center mx-4">
            <img src="../../../assets/img/icon-img1.png" class="card-img-top img-fluid mb-2 my-img-1">
        </div>
        <mat-card-content class="card-body text-center">
            <h2 class="my-text3 ">Manage Team</h2>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button mat-button>click here to view</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="col-8 col-lg-2 col-xl-2 mx-4 my-sm-3 mb-5">
        <div class="text-center mx-4">
            <img src="../../../assets/img/icon-img1.png" class="card-img-top img-fluid mb-2 my-img-1">
        </div>
        <mat-card-content class="card-body text-center">
            <h2 class="my-text3 ">New Messages</h2>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button mat-button>click here to view</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="col-8 col-lg-2 col-xl-2 mx-4 my-sm-3 mb-5">
        <div class="text-center mx-4">
            <img src="../../../assets/img/icon-img1.png" class="card-img-top img-fluid mb-2 my-img-1">
        </div>
        <mat-card-content class="card-body text-center">
            <h2 class="my-text3 ">Manage Services</h2>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button mat-button>click here to view</button>
        </mat-card-actions>
    </mat-card>
</div>