.my-about-2{
    color: #065560;
  }
  .my-img-1{
    height: auto;
    width: 130px;
  }
  .my-text3{
    color: #065560;
  }
  .example-card {
    max-width: 400px;
  }
  
 .mat-button{
    color: blue;
 }