<footer>
  <footer class="text-center text-white footer">
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          mdbRipple
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>

        <!-- Instagram -->
        <a
          mdbRipple
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>

        <!-- Linkedin -->
        <a
          mdbRipple
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>

        <!-- Github -->
        <a
          mdbRipple
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>

      <!-- Section: Form -->
      <section class="form">
        <form action="">
          <div class="row d-flex justify-content-center">
            <div class="col-auto">
              <p class="pt-2 topic">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>

            <div class="col-md-5 col-12">
              <!-- Email input -->
              <mdb-form-control class="mb-4">
                <input
                  mdbInput
                  type="email"
                  id="form5Example27"
                  class="form-control"
                  placeholder="Email address"
                />
              </mdb-form-control>
            </div>

            <div class="col-auto">
              <!-- Submit button -->
              <button
                mdbRipple
                type="submit"
                class="btn btn-primary mb-4 submit"
              >
                Subscribe
              </button>
            </div>
          </div>
        </form>
      </section>

      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
          distinctio earum repellat quaerat voluptatibus placeat nam, commodi
          optio pariatur est quia magnam eum harum corrupti dicta, aliquam sequi
          voluptate quas.
        </p>
      </section>

      <!-- Section: Links -->
      <section class="">
        <div class="row">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <img class="logo" src="assets/img/logo-dark-background.png" />
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0 links">
            <h5 class="text-uppercase">Links</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" routerLink="/doctor" class="text-white">Doctor</a>
              </li>
              <li>
                <a href="#!" routerLink="/hospital" class="text-white">Hospital</a>
              </li>
              <li>
                <a href="#!" routerLink="/pharamcy" class="text-white">Pharmacy</a>
              </li>
              <li>
                <a href="#!" routerLink="/ambulance" class="text-white">Ambulance</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0 links">
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Blog</a>
              </li>
              <li>
                <a href="#!" class="text-white">Terms & Contitions</a>
              </li>
              <li>
                <a href="#!" class="text-white">Contact</a>
              </li>
              <li>
                <a href="#!" routerLink="/aboutus" class="text-white">About</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0 links">
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">FAQs</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>

    <!-- Copyright -->
    <div
      class="text-center p-3 copyright"
      style="background-color: rgba(0, 0, 0, 0.2)"
    >
      © 2023 Copyright:
      <a class="text-white" href="https://codeclans.com/">Group CodeClans</a>
    </div>
  </footer>
</footer>
