<!--<div class="container footer"-->
<!--     fxLayout="row wrap"-->
<!--     fxLayout.lt-md="column"-->
<!--     fxLayoutAlign="center center"-->
<!--     fxLayoutGap="10px">-->

<!--    <div fxFlex="100" fxFlex.gt-sm="45">-->
<!--      <div style="text-align:center">-->
<!--        <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>-->
<!--        <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>-->
<!--        <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>-->
<!--        <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>-->
<!--        <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>-->
<!--        <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>-->
<!--      </div>-->
<!--    </div>-->


<!--  <div fxFlex="100" fxFlex.gt-sm="50">-->
<!--    <div fxLayout="row">-->
<!--      <div fxFlex="40" fxFlexOffset="20px">-->
<!--        <h4>Links</h4>-->
<!--        <mat-list>-->
<!--          <mat-list-item><a mat-button>Home</a></mat-list-item>-->
<!--          <mat-list-item><a mat-button>About</a></mat-list-item>-->
<!--          <mat-list-item><a mat-button>Menu</a></mat-list-item>-->
<!--          <mat-list-item><a mat-button>Contact</a></mat-list-item>-->
<!--        </mat-list>-->
<!--      </div>-->
<!--      <div fxFlex="55">-->
<!--        <h4>Our Address</h4>-->
<!--        <address style="text-size: 80%">-->
<!--          121, Clear Water Bay Road<br> Clear Water Bay, Kowloon<br> HONG KONG<br>-->
<!--          <i class="fa fa-phone"></i>: +852 1234 5678<br>-->
<!--          <i class="fa fa-fax"></i>: +852 8765 4321<br>-->
<!--          <i class="fa fa-envelope"></i>:-->
<!--          <a href="mailto:confusion@food.net">confusion@food.net</a>-->
<!--        </address>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div fxFlex="100" fxFlex.gt-sm="45">-->
<!--    <div style="text-align:center">-->
<!--      <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>-->
<!--      <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>-->
<!--      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>-->
<!--      <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>-->
<!--      <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>-->
<!--      <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div>-->
<!--    <p>© Copyright 2018 Ristorante Con Fusion</p>-->
<!--  </div>-->
<!--</div>-->

<!--<footer>-->
<!--  <div class="container-fluid bottom">-->
<!--    <section id="#social media">-->
<!--      <div fxLayout="row">-->
<!--        <div>-->
<!--          <span>Get connected with us on social networks:</span>-->
<!--        </div>-->
<!--        &lt;!&ndash; Right &ndash;&gt;-->
<!--        <div>-->
<!--          <a href="" class="me-4 text-reset">F-->
<!--            <i class="fab fa-facebook-f"></i>-->
<!--          </a>-->
<!--          <a href="" class="me-4 text-reset">T-->
<!--            <i class="fab fa-twitter"></i>-->
<!--          </a>-->
<!--          <a href="" class="me-4 text-reset">G-->
<!--            <i class="fab fa-google"></i>-->
<!--          </a>-->
<!--          <a href="" class="me-4 text-reset">I-->
<!--            <i class="fab fa-instagram"></i>-->
<!--          </a>-->
<!--          <a href="" class="me-4 text-reset">L-->
<!--            <i class="fab fa-linkedin"></i>-->
<!--          </a>-->
<!--          <a href="" class="me-4 text-reset">Git-->
<!--            <i class="fab fa-github"></i>-->
<!--          </a>-->
<!--        </div>-->
<!--        &lt;!&ndash; Right &ndash;&gt;-->
<!--      </div>-->
<!--    </section>-->
<!--  </div>-->
<!--</footer>-->

<footer>
  <footer class="text-center text-lg-start footer">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section
        class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Form -->
      <section class="form">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <mdb-form-control class="mb-4">
                <input mdbInput type="email" id="form5Example27" class="form-control" placeholder="Email address"/>
<!--                <label mdbLabel class="form-label" for="form5Example27">Email address</label>-->
              </mdb-form-control>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button mdbRipple type="submit" class="btn btn-primary mb-4 submit">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->

      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section>
      <!-- Section: Text -->

      <!--section : links -->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--section : links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 copyright" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-dark" href="https://codeclans.com/">Group CodeClans</a>
    </div>
    <!-- Copyright -->
  </footer>
</footer>
