.footer{
  font-size: 16px;
  background:#065560;
}
.topic{
  font-weight: normal;
  font-size: 17px;
  color: #37ecba;
}
.form{
  padding-top: 15px;
  padding-bottom: 15px;
}
.pt-2{
  font-weight: normal;
}
.links{
  margin-top: 40px;
  color: beige;
}
.submit{
  color: white;
  background-color: #065560;
  border-color: #37ecba;
}
.text-uppercase{
  font-size: 15px;
  font-weight: bold;
}
.copyright{

  margin-top: 20px;
}
.logo{
  width: 200px;
}
a{
  text-decoration: none;
  font-size: 13px;
  text-align: left;
}