<h1>Let's select
    <span class="span">who are you?</span>
</h1>
<mat-card class="t">
    <div class="tt">
        <mat-card class="patient">
            <div class="qq"><img mat-card-image src="assets\img\icons8-dropper-patient-64.png" alt="Photo of a Shiba Inu">
            </div>
            <button class="button1" mat-button>I am <br>Patient</button>

        </mat-card>
        <mat-card class=" doctor ">
            <div class="qq "><img mat-card-image src="assets\img\octoricon.png " alt="Photo of a Shiba Inu ">
            </div>
            <button class="button1" mat-button>I am <br>Doctor</button>
        </mat-card>
        <mat-card class="hospital ">
            <div class="qq "><img mat-card-image src="assets\img\hosital.png " alt="Photo of a Shiba Inu ">
            </div>
            <button class="button1" mat-button>I am <br>Hospital</button>
        </mat-card>
    </div>
    <div class="ttt ">
        <mat-card class="ambulance ">
            <div class="qq "><img mat-card-image src="assets\img\ambulance.png " alt="Photo of a Shiba Inu ">
            </div>
            <button class="button1" mat-button>I am <br>Ambulance</button>
        </mat-card>
        <mat-card class="pharmacy ">
            <div class="qq "><img mat-card-image src="assets\img\pharmacy.png " alt="Photo of a Shiba Inu ">
            </div>
            <button class="button1" mat-button>I am <br>Pharmacy</button>
        </mat-card>
    </div>
</mat-card>
<div class="design">
    <img src="assets\img\design.png"> </div>