<!-- <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Number</mat-label>
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form> -->
<!-- <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</div> -->



  <section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form class="mx-1 mx-md-4">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" class="form-control" />
                      <label class="form-label" for="form3Example1c">Your Name</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" class="form-control" />
                      <label class="form-label" for="form3Example3c">Your Email</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4c" class="form-control" />
                      <label class="form-label" for="form3Example4c">Password</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4cd" class="form-control" />
                      <label class="form-label" for="form3Example4cd">Repeat your password</label>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button" class="btn btn-primary btn-lg">Register</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <mat-card class="text-black" style="border-radius: 25px;">
            <mat-card-content class="p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <h1 class="text-center fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</h1>
  
                  <form class="mx-1 mx-md-4">
  
                    <mat-form-field class="d-flex flex-row align-items-center mb-4">
                      <mat-icon class="me-3">person</mat-icon>
                      <input matInput type="text" id="form3Example1c" />
                      <mat-label>Your Name</mat-label>
                    </mat-form-field>
  
                    <mat-form-field class="d-flex flex-row align-items-center mb-4">
                      <mat-icon class="me-3">email</mat-icon>
                      <input matInput type="email" id="form3Example3c" />
                      <mat-label>Your Email</mat-label>
                    </mat-form-field>
  
                    <mat-form-field class="d-flex flex-row align-items-center mb-4">
                      <mat-icon class="me-3">lock</mat-icon>
                      <input matInput type="password" id="form3Example4c" />
                      <mat-label>Password</mat-label>
                    </mat-form-field>
  
                    <mat-form-field class="d-flex flex-row align-items-center mb-4">
                      <mat-icon class="me-3">lock</mat-icon>
                      <input matInput type="password" id="form3Example4cd" />
                      <mat-label>Repeat your password</mat-label>
                    </mat-form-field>
  
                    <mat-checkbox class="d-flex justify-content-center mb-5" labelPosition="after">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </mat-checkbox>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button mat-raised-button color="primary" class="btn-lg">Register</button>
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </section>
  




  <section class="vh-100" fxLayout="column" fxLayoutAlign="center center" style="background-color: #eee;">
    <div class="container-fluid" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <div class="card text-black" fxLayout="column" fxLayoutAlign="center center" fxFlex="80%" fxFlex.gt-sm="60%" style="border-radius: 25px;">
        <div class="card-body p-md-5">
          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayout.xsAlign="start">
            <div fxFlex="100%" fxFlex.sm="50%" fxLayoutAlign="center center" fxLayout.gt-smAlign="start">
  
              <!-- <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
   -->
              <form class="mx-1 mx-md-4">
  
                <div fxLayout="row" fxLayoutAlign="start center" class="mb-4">
                  <mat-icon class="me-3">person</mat-icon>
                  <mat-form-field fxFlex="100%">
                    <input matInput type="text" id="form3Example1c" />
                    <mat-label>Your Name</mat-label>
                  </mat-form-field>
                </div>
  
                <div fxLayout="row" fxLayoutAlign="start center" class="mb-4">
                  <mat-icon class="me-3">email</mat-icon>
                  <mat-form-field fxFlex="100%">
                    <input matInput type="email" id="form3Example3c" />
                    <mat-label>Your Email</mat-label>
                  </mat-form-field>
                </div>
  
                <div fxLayout="row" fxLayoutAlign="start center" class="mb-4">
                  <mat-icon class="me-3">lock</mat-icon>
                  <mat-form-field fxFlex="100%">
                    <input matInput type="password" id="form3Example4c" />
                    <mat-label>Password</mat-label>
                  </mat-form-field>
                </div>
  
                <div fxLayout="row" fxLayoutAlign="start center" class="mb-4">
                  <mat-icon class="me-3">vpn_key</mat-icon>
                  <mat-form-field fxFlex="100%">
                    <input matInput type="password" id="form3Example4cd" />
                    <mat-label>Repeat your password</mat-label>
                  </mat-form-field>
                </div>
  
                <div fxLayout="row" fxLayoutAlign="start center" class="mb-5">
                  <mat-checkbox class="me-2" id="form2Example3c"></mat-checkbox>
                  <label for="form2Example3">
                    I agree all statements in <a href="#!">Terms of service</a>
                  </label>
                </div>
  
                <div fxLayout="row" fxLayoutAlign="center" class="mb-3 mb-lg-4">
                  <button mat-raised-button color="primary" type="button" class="btn btn-primary btn-lg">Register</button>
                </div>
  
              </form>
  
            </div>
            <div fxFlex="100%" fxFlex.sm="50%" fxLayoutAlign="center center" fxLayout.gt-smAlign="end">
  
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                class="img-fluid" alt="Sample image">

            </div>
  