.icon {
    width: 40px;
    height: 40px;
    position: relative;
    align-items: center;
}

.full {
    width: 300px;
    height: 20px;
    left: 56px;
    top: 170px;
}

.placeholder {
    height: 20px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #979797;
    text-align: center;
}

.lable1 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    /* left: 40px; */
    position: relative;
    opacity: 40%;
    align-items: center;
}

.icon2 {
    width: 40px;
    height: 40px;
    position: relative;
    top: -13px;
    align-items: center;
}

.full2 {
    width: 300px;
    height: 20px;
    left: 56px;
    top: 330px;
    border-radius: 10px;
    position: absolute;
}

.placeholder2 {
    height: 20px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #979797;
    text-align: center;
}

.lable2 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    /* left: 40px; */
    position: relative;
    opacity: 40%;
    align-items: center;
}

.icon3 {
    width: 40px;
    height: 40px;
    position: relative;
    top: -13px;
    align-items: center;
}

.full3 {
    width: 300px;
    height: 20px;
    left: 56px;
    top: 420px;
    border-radius: 10px;
    position: absolute;
}

.full4 {
    width: 300px;
    height: 20px;
    left: 56px;
    top: 510px;
    border-radius: 10px;
    position: absolute;
}

.placeholder3 {
    height: 20px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #979797;
    text-align: center;
}

.placeholder4 {
    height: 20px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #979797;
    text-align: center;
}

.lable3 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    /* left: 40px; */
    position: relative;
    opacity: 40%;
    align-items: center;
}

.lable4 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    /* left: 40px; */
    position: relative;
    opacity: 40%;
    align-items: center;
}

.button {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 137px;
    top: 826px;
    font-size: 24px;
    line-height: 30px;
    background-color: #00be99;
    color: aliceblue;
    border-radius: 10%;
}

.asiri1 {
    position: absolute;
    width: 275px;
    height: 320px;
    left: 520px;
    top: 299px;
    justify-content: center;
    border-style: solid;
    border-color: #00be99;
    border-radius: 40px;
}

.text1 {
    /* position: absolute;
width: 176.16px;
height: 29.47px;
left: 527.48px;
top: 540.65px; */
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    position: relative;
    position: relative;
    text-align: center;
    padding: 5px;
}

.text2 {
    /* position: absolute;
width: 131.9px;
height: 24.56px;
left: 549.61px;
top: 575.03px; */
    position: relative;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 5px;
}

.asiri2 {
    position: absolute;
    width: 275px;
    height: 320px;
    left: 830px;
    top: 299px;
    border-style: solid;
    border-color: #00be99;
    border-radius: 40px;
}

.asiri3 {
    position: absolute;
    width: 275px;
    height: 320px;
    left: 1140px;
    top: 299px;
    border-style: solid;
    border-color: #00be99;
    border-radius: 40px;
}

.asiri4 {
    position: absolute;
    width: 275px;
    height: 320px;
    left: 520px;
    top: 650px;
    border-style: solid;
    border-color: #00be99;
    border-radius: 40px;
}

.asiri5 {
    position: absolute;
    width: 275px;
    height: 320px;
    left: 830px;
    top: 650px;
    border-style: solid;
    border-color: #00be99;
    border-radius: 40px;
}

.asiri6 {
    position: absolute;
    width: 275px;
    height: 320px;
    left: 1140px;
    top: 650px;
    border-style: solid;
    border-color: #00be99;
    border-radius: 40px;
}

.searchfordoctors {
    position: absolute;
    left: 680px;
    /* right: 36.7%; */
    top: 80px;
    bottom: 83.92%;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 80px;
    color: #000000;
    display: flex;
}

.search1 {
    color: #00be99;
}

.fordoctors {
    color: #065560;
}

.search2 {
    position: absolute;
    left: 550px;
    right: 16.36%;
    top: 170px;
    bottom: 80.85%;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #979797;
}

.all {
    width: 100%;
}

.imageori {
    position: relative;
    border-radius: 60%;
    border-style: solid;
    left: 55px;
    height: 120px;
}

mat-drawer {
    width: 260px;
    background: #383993;
}

mat-drawer-container {
    height: 100%;
}

.text3 {
    text-align: center;
    font-weight: 10;
    padding: 5px;
}

.mathover {
    position: absolute;
    top: -2px;
    width: 590px;
    height: 320px;
    z-index: 1;
    left: -2px;
    border-radius: 40px;
    border-color: #00be99;
    border-style: solid;
    background-color: #065560;
    color: aliceblue;
}

.asiri1:hover {
    cursor: pointer;
}

.asiri1:hover.mathover {
    opacity: 1;
}

.star {
    position: absolute;
    width: 10px;
    height: 19px;
    left: 80px;
    top: 260px;
    color: rgba(57, 56, 147, 0.42);
    display: flex;
}

.mathover2 {
    position: absolute;
    top: -2px;
    width: 590px;
    height: 320px;
    z-index: 2;
    left: -2px;
    border-radius: 40px;
    border-color: #00be99;
    border-style: solid;
}

.asiri2:hover {
    cursor: pointer;
}

.asiri2:hover.mathover2 {
    opacity: 1;
}

.mathover3 {
    position: absolute;
    top: -2px;
    width: 590px;
    height: 320px;
    left: -315px;
    z-index: 2;
    border-radius: 40px;
    border-color: #00be99;
    border-style: solid;
}

.asiri3:hover {
    cursor: pointer;
}

.asiri3:hover.mathover3 {
    opacity: 1;
}

.mathover4 {
    position: absolute;
    top: -2px;
    width: 590px;
    height: 320px;
    z-index: 2;
    left: -2px;
    border-radius: 40px;
    border-color: #00be99;
    border-style: solid;
}

.asiri4:hover {
    cursor: pointer;
}

.asiri4:hover.matthover4 {
    opacity: 1;
}

.mathover5 {
    position: absolute;
    top: -2px;
    width: 590px;
    height: 320px;
    z-index: 2;
    left: -2px;
    border-radius: 40px;
    border-color: #00be99;
    border-style: solid;
}

.asiri5:hover {
    cursor: pointer;
}

.asiri5:hover.matthover5 {
    opacity: 1;
}

.mathover6 {
    position: absolute;
    top: -2px;
    width: 590px;
    height: 320px;
    left: -315px;
    z-index: 2;
    border-radius: 40px;
    border-color: #00be99;
    border-style: solid;
}

.asiri6:hover {
    cursor: pointer;
}

.asiri6:hover.matthover6 {
    opacity: 1;
}

.vl {
    border-left: 6px solid #00be99;
    height: 700px;
    position: absolute;
    left: 450px;
    margin-left: -3px;
    top: 270px;
}


/* .selectbox {
    width: 260px;
    border-style: hidden;
}

.allbox {
    position: absolute;
    top: 600px;
} */

.qqq {
    position: absolute;
    height: 130px;
    width: 300px;
    top: 620px;
    left: 60px;
    border-style: solid;
    padding: 10px;
    border-width: 0.001px;
}

.headding {
    border-bottom-style: solid;
    border-bottom-width: 0.001px;
    height: 40px;
    font-size: 20px;
    opacity: 40%;
    font-family: 'Source Sans Pro';
}

.carddetails {
    position: absolute;
    left: 350px;
    font-size: 16px;
    font-weight: 500;
    top: 40px;
}

.vl2 {
    border-left: 2px solid #00be99;
    height: 200px;
    position: absolute;
    left: 290px;
    top: 60px;
}

.imagehover {
    height: 140px;
    width: 130px;
    position: absolute;
    top: 20px;
    left: 70px;
}

.view {
    position: absolute;
    top: 250px;
    left: 80px;
    border-style: solid;
    height: 40px;
    width: 120px;
    align-items: center;
}

.docname {
    position: absolute;
    top: 180px;
    left: 60px;
    font-size: 20px;
    font-weight: 700;
}

.dentist {
    position: absolute;
    opacity: 40%;
    left: 30px;
    padding: 10px;
}

section{
    padding: 60px 0;
}

.left-image-decor {
  background-image: url(../../../../../assets/img/left-bg-decor.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  display: inline-block;
  height: 110%;
  margin-top: -200px;
}

