
.blob {
    margin-left: 60px;
    width:550px;
    height:550px;
    overflow: hidden;
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    background:url(../../../../../assets/img/login.png);
    background-size: cover;
    background-position: center;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, .2); */
    animation: blob 3.7s linear infinite;
  }
  
  @keyframes blob {
    0%, 100% {
        border-radius:
            42% 56% 72% 28% / 42% 42% 56% 48%;
    }
  
    33% {
        border-radius:
            42% 28% 48% 48% / 28% 28% 72% 72%;
    }
  
    66% {
        border-radius:
            100% 56% 56% 100% / 100% 100% 56% 56%;
    }
  }