.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    height: 100px;
}

.example-full-width {
    width: 100%;
}

.example-input {
    max-width: 100%;
    width: 300px;
    height: 50px;
    left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Source Sans Pro';
    color: #979797;
    border-color: #00be99;
}

.searchfilter {
    position: absolute;
    top: 320px;
    left: 40px;
}

.icon3 {
    position: relative;
    left: 235px;
    top: -42px;
}

.qqq {
    position: absolute;
    height: 170px;
    width: 300px;
    top: 580px;
    left: 40px;
    border-style: solid;
    padding: 10px;
    border-width: 0.001px;
}

.eee {
    position: absolute;
    height: 120px;
    left: 0px;
    border-style: solid;
    padding: 10px;
    border-width: 0.001px;
    width: 298px;
}

.headding {
    border-bottom-style: solid;
    border-bottom-width: 0.001px;
    height: 40px;
    font-size: 20px;
    opacity: 40%;
    font-family: 'Source Sans Pro';
}

.vl {
    border-left: 6px solid #00be99;
    height: 1000px;
    position: absolute;
    left: 450px;
    margin-left: -3px;
    top: 140px;
}

.searchfordoctors {
    position: absolute;
    left: 680px;
    /* right: 36.7%; */
    top: 80px;
    bottom: 83.92%;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 80px;
    color: #000000;
    display: flex;
}

.search1 {
    color: #00be99;
}

.fordoctors {
    color: #065560;
}

.search2 {
    position: absolute;
    left: 550px;
    right: 16.36%;
    top: 170px;
    bottom: 80.85%;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #979797;
}

.button {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 90px;
    top: 626px;
    font-size: 24px;
    line-height: 30px;
    background-color: #00be99;
    color: aliceblue;
    border-radius: 10%;
}

.asiri1 {
    position: absolute;
    width: 275px;
    height: 320px;
    left: 520px;
    top: 299px;
    justify-content: center;
    border-style: solid;
    border-color: #00be99;
    border-radius: 40px;
}

.text1 {
    /* position: absolute;
width: 176.16px;
height: 29.47px;
left: 527.48px;
top: 540.65px; */
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    position: relative;
    text-align: center;
    padding: 5px;
}

.text2 {
    /* position: absolute;
width: 131.9px;
height: 24.56px;
left: 549.61px;
top: 575.03px; */
    position: relative;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 5px;
}

.text3 {
    text-align: center;
    font-weight: 10;
    padding: 5px;
    position: relative;
}

.text4 {
    text-align: center;
    font-weight: 10;
    padding: 5px;
    position: relative;
}


/* .allbooks {
    display: flex;
} */

.imageori {
    position: relative;
    border-radius: 60%;
    border-style: solid;
    left: 55px;
    height: 120px;
    width: 120px;
}

.allbooks {
    top: 280px;
    position: absolute;
    left: 520px;
    width: 950px;
    flex-wrap: wrap;
    row-gap: 70px;
    column-gap: 60px;
    display: flex;
}

.x {
    /* position: absolute; */
    width: 275px;
    height: 340px;
    border-style: solid;
    border-color: #00be99;
    border-radius: 40px;
}

.showmore1 {
    width: 150px;
    height: 40px;
    position: absolute;
    top: 1100px;
    left: 910px;
}

.showmore2 {
    width: 150px;
    height: 40px;
    position: relative;
    top: auto;
}

.star {
    position: absolute;
    width: 10px;
    height: 19px;
    left: 80px;
    top: 260px;
    color: rgba(57, 56, 147, 0.42);
    display: flex;
}

.viewprofile {
    position: absolute;
    top: 290px;
    left: 40px;
    color: #00be99;
}

.favorite {
    position: absolute;
    top: 290px;
    left: 180px;
    color: #FF6347;
}