<div class="col-10 col-lg-8 col-xl-8" fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <div>
        <h2 class="my-text3 pt-4 mx-4 h-1">Manage Services</h2>
    </div>

    <div  class="col-10 col-lg-12 col-xl-12 my-sm-3 mb-3 mt-8 mx-4 py-5" style="background-color:#f1f1e6;">
        <div align="end" class="mb-3 ">
          
            <button mat-stroked-button class="mx-5 action-button">Add New Service</button>
        </div>
        <mat-card style="margin: 25px; background-color: rgb(194, 239, 235);" >
            <mat-card-header>
              <mat-card-content>Post services, by just clicking on “Update Services” button</mat-card-content>
            </mat-card-header>
            <mat-card-actions align="end">
              <button mat-stroked-button class="update-button">Update Service</button>
             
            </mat-card-actions>
        </mat-card>
    </div>   
</div> 
