

<div class="card">
  <mat-card class="card1">
    <mat-card-content> 
      
    <div fxFlex fxlayout="row" fxLayoutAlign="flex-start">
      <img class="image" src="\assets\img\34bc20ba-3ade-d40e-9316-0d9e71cef5b2.png">
      <div class="pharmacyname">
        <div class="name1">
            Apothecare
        </div>
        <div class="name2">
            Pharmacy
        </div>
      </div>
    </div>
      <div fxFlex fxlayout="row" fxLayoutAlign="flex-end">
          <button class="editbutton">
            Edit Profile
          </button>
      </div>
  </mat-card-content>
  </mat-card>
</div>




<div class="header">
  <p class="h2 header1">User canceled orders</p>
  <p class="h5 header2"><mark>+6</mark></p>
</div>


   <table class="table align-middle table-dark table-striped"  >
       <thead class="table-dark thead">
         <tr>
          <th ><p class="thead1">Name</p></th>
          <th ><p class="thead2">ID</p></th>
          <th ><p class="thead3">Status</p></th>
          <th ><p class="thead4">Date</p></th>
          <th ><p class="thead5">PDF</p></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of canceleddata">
        <td>
          
          <div class="d-flex align-items-center">
            <img
                src="{{data.imgurl}}"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{data.username}}</p>
              <p class="text-muted mb-0">{{data.email}}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1 id1">{{data.id}}</p>
          
        </td>
        <td>
            <button type="button" class="btn btn-warning btn-rounded  button1" data-mdb-ripple-color="dark">Canceled</button>
        </td>
        <td>{{data.date}}</td>
        <td>
            <button
            type="button"
            class="btn btn-link btn-rounded btn-sm fw-bold"
            data-mdb-ripple-color="dark"
            >
     PDF
    </button>
        </td>
      </tr>
    