<div class="all">
    <div class="search1">
        Search for Hospital </div>
    <div class="search2">Discover the best clinic, hospitals, nearest cities that suits your calender </div>
    <form>
        <mat-form-field class="full" appearance="outline">

            <mat-label class="lable1">Search Hospitals</mat-label>
            <input type="text" class="placeholder" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
            <mat-icon class="icon" matSuffix>search</mat-icon>
        </mat-form-field>
    </form>





    <!-- <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Number</mat-label>
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form> -->
    <form>
        <mat-form-field class="full3" appearance="outline">

            <mat-label class="lable3">Search District </mat-label>
            <input type="text" class="placeholder3" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
            <mat-icon class="icon3" matSuffix>search</mat-icon>

        </mat-form-field>
    </form>




    <form>
        <mat-form-field class="full2" appearance="outline">

            <mat-label class="lable2">Search City</mat-label>
            <input type="text" class="placeholder2" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>

            <mat-icon class="icon2" matSuffix>search</mat-icon>



        </mat-form-field>
    </form>
    <button class="button" mat-raised-button color="primary">show hospital</button>
    <button class="asiri1" mat-raised-button>
    <div class="text1"><img class="imageori" src="assets\img\asiri_hospital.png"><br>{{text1}}</div><div class="text2">{{text2}}</div></button>
    <button class="asiri2" mat-raised-button>
        <div class="text1"><img src="assets\img\asiri_hospital.png"><br>{{text1}}</div><div class="text2">{{text2}}</div></button>
    <button class="asiri3" mat-raised-button>
            <div class="text1"><img src="assets\img\asiri_hospital.png"><br>{{text1}}</div><div class="text2">{{text2}}</div></button>
    <button class="asiri4" mat-raised-button>
                <div class="text1"><img src="assets\img\asiri_hospital.png"><br>{{text1}}</div><div class="text2">{{text2}}</div></button>
    <button class="asiri5" mat-raised-button>
                    <div class="text1"><img src="assets\img\asiri_hospital.png"><br>{{text1}}</div><div class="text2">{{text2}}</div></button>
    <button class="asiri6" mat-raised-button>
                        <div class="text1"><img src="assets\img\asiri_hospital.png"><br>{{text1}}</div><div class="text2">{{text2}}</div></button>
</div>